<app-header title="Documents" [model]="false"></app-header>
<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom">
    <ion-fab-button class="fab_btn" (click)="createNew()">   
     <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="p-10">
    <div *ngIf="db.employee_img" class="employee_det">
      <div class="sec-1">
        <p class="m-0 fnt-14">{{db.employee_img.name}}</p>
        <div class="d__flex gap-10" *ngIf="db.employee_img">
          <ion-icon class="fnt-22" src="/assets/Voluntary-Pf/Medal.svg"></ion-icon>
          <p class="m-0 fnt-13">{{db.employee_img.grade_name}}</p>
        </div>
      </div>
      <div class="sec-2">
        <div class="d__flex gap-10 flex-70">
          <img class="profile_user_img" [src]="(db.employee_img && db.employee_img.user_image) ? db.product_img(db.employee_img.user_image) : '/assets/icon/profile-owner.svg'">
          <div>
            <p class="fnt-14 m-0 mb-5 fnt_w500 webkit-text" [style.--line]="1">{{db.employee_img.employee_name}}</p>
            <p class="fnt-13 m-0 gray_clr">{{db.employee_img.designation}}</p>
          </div>
        </div>
        <div class="flex-auto d__flex">
          <app-status [reverse]="true" status="Active"></app-status>
        </div>
      </div>
    </div>
    <div class="d__flex just-s select_all">
      <p class="m-0 fnt-12 fnt_w600">Documents Details</p>
    </div>
    <div *ngIf="db.employee_img.custom_document_detail && db.employee_img.custom_document_detail.length > 0">
      <div class="box" *ngFor="let item of db.employee_img.custom_document_detail">
        <h2 class="m-0 fnt-13 mb-10">{{item.document_name}}</h2>
        <div class="d__flex just-s">
          <p class="m-0 img_url">{{item.document}}</p>
          <ion-button (click)="upload_image(item)" class="btn"><ion-img class="img_icon" src="/assets/dashboard/attach.svg"></ion-img> Attach</ion-button>
          <input multiple type="file"  #file_upload (change)="onFileChange($event)" hidden />
        </div>
      </div>
    </div>
  </div>
</ion-content>
