<!-- <div class="d__flex just-s p-10 border-b">
  <div class="d__flex gap-10">
    <ion-icon class="fnt-18" src="/assets/job-referral/users.svg"></ion-icon>
    <h5 class="m-0 fnt-15">Refer a Friend</h5>
  </div>
  <ion-icon class="flex-auto" (click)="modalCntrl.dismiss()" name="close-outline"></ion-icon>
</div> -->

<app-header [title]="'Refer a Friend'" [showYear]="false" [model]="true"></app-header>

<div class="p-10 d__flex gap-10 headerSec" *ngIf="jobReferralDetail">
  <div class="avatar_name">
    <p class="m-0" *ngIf="jobReferralDetail.designation">{{jobReferralDetail.designation[0]}}</p>
  </div>
  <div class="w-100">
    <p class="m-0 fnt-14 fnt_w600 mb-5" *ngIf="jobReferralDetail.designation">{{jobReferralDetail.designation.replace('-', '')}}</p>
    <div class="d__flex gap-10">
      <p class="m-0 fnt-13 fnt_w400" *ngIf="jobReferralDetail.job_title">{{jobReferralDetail.job_title ? jobReferralDetail.job_title.replace('-', '') : ''}}</p>
      <div class="beforedays flex-auto">
        <div class="dots"></div>
        <p class="m-0 fnt-13 fnt_w400 gray_clr flex-auto">{{jobReferralDetail.posted_on ? getBeforeDays(jobReferralDetail.posted_on) : ''}}</p>
      </div>
    </div>
  </div>
</div>

<div class="p-10 formHeight">
  <form [formGroup]="refer_form">

    <!-- <div class="pb-10">
      <p class="title">Reference Type <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-select interface="popover" placeholder="Reference Type" formControlName="reference_type" name="reference_type">
          <ion-select-option *ngFor="let reference of referenceType" [value]="reference.name">{{reference.name}}</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div *ngIf="submitted && !reference_type?.valid">
      <p class="error" *ngIf="reference_type.errors.required">Reference Type is required</p>
    </div> -->

    <div class="pb-10">
      <p class="title">First Name <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-input type="text" placeholder="First Name" formControlName="first_name" name="first_name"></ion-input>
      </div>
    </div>

    <div *ngIf="submitted && !first_name?.valid">
      <p class="error" *ngIf="first_name.errors.required">First Name is required</p>
    </div>

    <div class="pb-10">
      <p class="title">Last Name <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-input type="text" placeholder="Last Name" formControlName="last_name" name="last_name"></ion-input>
      </div>
    </div>

    <div *ngIf="submitted && !last_name?.valid">
      <p class="error" *ngIf="last_name.errors.required">Last Name is required</p>
    </div>

    <!-- <div class="pb-10">
      <p class="title">Refer Designation <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-select interface="popover" placeholder="Refer Designation" formControlName="designation_type" name="designation_type">
          <ion-select-option *ngFor="let designation of designationType" [value]="designation.name">{{designation.name}}</ion-select-option>
        </ion-select>
      </div>
    </div>

    <div *ngIf="submitted && !designation_type?.valid">
      <p class="error" *ngIf="designation_type.errors.required">Refer Designation is required</p>
    </div> -->

    <!-- <div class="pb-10">
      <p class="title">Relationship <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-input type="text" placeholder="Relationship" formControlName="relationship" name="relationship"></ion-input>
      </div>
    </div>

    <div *ngIf="submitted && !relationship?.valid">
      <p class="error" *ngIf="relationship.errors.required">Relationship is required</p>
    </div> -->

    <div class="pb-10">
      <p class="title">Email <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-input type="email" placeholder="Email" formControlName="email" name="email"></ion-input>
      </div>
    </div>

    <div *ngIf="submitted && !email?.valid">
      <p class="error" *ngIf="email.errors.required">Email Address is required</p>
      <p class="m-0 error" *ngIf="email.errors.pattern">Please enter a valid email</p>
      <p class="error" *ngIf="email.errors.email">Please enter a valid email</p>
    </div>

    <div class="pb-10">
      <p class="title">Contact Number <span class="impt-star"> *</span></p>
      <div class="custom-input">
        <ion-input type="number" placeholder="Contact Number" formControlName="contact_number" name="contact_number"></ion-input>
      </div>
    </div>

    <div *ngIf="submitted && !contact_number?.valid">
      <p class="error" *ngIf="contact_number.errors.required">Contact Number is required</p>
    </div>

    <div class="input-item image-input">
      <h6 class="gray_clr m-0 fnt-12 fnt_w500">Upload Resume</h6>
      <input #file_upload (change)="changeListener($event)" type="file" class="image-d" name="friend_image" formControlName="friend_image" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx">
      <div class="custom-image" (click)="file_upload.click()">
        <ion-icon class="fnt-24" src="/assets/job-referral/cloud.svg"></ion-icon>
        <div>
          <p class="m-0 fnt-14 webkit-text" [style.--line]="1">{{(multiple_array && multiple_array.file_name) ? multiple_array.file_name.replaceAll('/files/', '') : 'Upload Resume'}}</p>
          <!-- <p class="m-0 fnt-12 webkit-text gray_clr" [style.--line]="1" *ngIf="multiple_array && !multiple_array.file_name">Supports :  .jpeg, .pdf</p> -->
        </div>
      </div>
    </div>

    <div *ngIf="submitted && !friend_image?.valid">
      <p class="error" *ngIf="friend_image.errors.required">Resume is required</p>
    </div>

  </form>

</div>

<div class="submitBtn">
  <ion-button fill="clear" (click)="submit()">Submit</ion-button>
</div>