<!-- <app-header [title]="'Regularization Detail'" [showYear]="false" [model]="true"></app-header> -->

<div class="mainSection">
    <div class="p-10-15">
        <h5 class="mb-10 m-0 fnt-15 fnt_w600">Regularization Detail</h5>
    
        <p class="m-0 fnt-14" *ngIf="regularizationDetail">{{regularizationDetail.name}}</p>
    </div>
    
    <div class="d__flex detailView p-10" *ngIf="regularizationDetail" [class.height_reduce]="db.check_role('L1 Manager',regularizationDetail.employee) && regularizationDetail.status != 'Approved' && regularizationDetail.status != 'Rejected'">
        <h4 class="m-0 mb-7">Employee Name</h4>
        <h4 class="m-0 mb-7 text-transform-none">{{regularizationDetail.employee_name ? regularizationDetail.employee_name : '-'}}</h4>
        <h4 class="m-0 mb-7">Employee</h4>
        <h4 class="m-0 mb-7">{{regularizationDetail.employee ? regularizationDetail.employee : '-'}}</h4>
        <h4 class="m-0 mb-7">Date</h4>
        <h4 class="m-0 mb-7">{{regularizationDetail.date ? regularizationDetail.date : '-'}}</h4>
        <!-- <h4 class="m-0 mb-7">Status</h4>
        <h4 class="m-0 mb-7">{{regularizationDetail.status ? regularizationDetail.status : regularizationDetail.workflow_state}}</h4> -->
        <h4 class="m-0 mb-7">Reason</h4>
        <h4 class="m-0 mb-7">{{regularizationDetail.regularization_reason ? regularizationDetail.regularization_reason : '-'}}</h4>
    
        <div class="d__flex just-s w-100">
            <p class="m-0 fnt-14 gray_clr">Status</p>
            <div class="d__flex">
              <app-status [reverse]="true" [status]="regularizationDetail.status ? regularizationDetail.status : regularizationDetail.workflow_state"></app-status>
            </div>
        </div>

        <div class="w-100">
            <p class="m-0 fnt-14 fnt_w400 gray_clr">Description</p>
            <p class="mt-5 fnt-15 fnt_w500 descriptionBox" [innerHtml]="regularizationDetail.description ? regularizationDetail.description : '-'"></p>
            <!-- <p class="mt-5 fnt-15 fnt_w500 descriptionBox">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere corporis hic blanditiis dicta rem cumque vitae vero, ad placeat veritatis, quos saepe eveniet nam, ipsam inventore eius doloremque velit magnam?</p> -->
        </div>
    </div>
    
    <div *ngIf="db.check_role('L1 Manager',regularizationDetail.employee) && regularizationDetail.status != 'Approved' && regularizationDetail.status != 'Rejected'" class="save_">
        <ion-button (click)="approve(regularizationDetail,'Rejected')" class="clear_btn" >Reject</ion-button>
        <ion-button (click)="approve(regularizationDetail,'Approved')" class="save_btn">Approve</ion-button>
    </div>
</div>