.detailView {
    flex-wrap: wrap;
    gap: 10px;
    align-items: unset;
    height: 340px;
    overflow: auto;

    .Icon {
        height: 15px;
        width: 16px;
        margin: 0px 0px 0 5px;
        vertical-align: middle;
    }

    h4:nth-child(odd) {
        font-size: 14px;
        font-weight: 400;
        color: var(--gray-color);
        width: calc(40% - 10px);
        margin: 10px 0;
    }

    h4:nth-child(even) {
        font-size: 15px;
        font-weight: 500;
        width: 60%;
        margin: 10px 0;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.descriptionBox {
    height: 185px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.save_ {
    // position: fixed;
    bottom: 0;
    // width: 25%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 5px #ddd;

    .clear_btn {
        width: 40%;
        --background: #fff;
        border: 1px solid var(--border-col);
        color: #000;
    }

    .save_btn {
        width: 55%;
    }
}