<!-- Old Code -->
<div class="" *ngIf="db.ismobile">
  <div *ngIf="db.ismobile" class="bg_primary">
    <app-tabs-button [border_none]="true" [overflow]="true" (menu_name)="menu_name.emit($event)"
      [bg_white]="db.ismobile ? false : true" [tabs_array]="options"
      [Lead_seg]="db.sales_manager_role ? true : false"></app-tabs-button>
  </div>

  <div class="parent-h bg_white no_scroll">
    <div *ngIf="!db.ismobile && list_data.cards && list_data.cards.length > 0" class="d__flex border-bottom just-s">

      <div *ngFor="let item of list_data.cards;index as i" class="border-r flex-33 p-10"
        [class.border_right_none]="i == list_data.cards.length-1">
        <div class="p-10">
          <h6 class="m-0 fnt-16 pb-10">{{item.label}}</h6>
          <h6 class="m-0 fnt-18 "
            [ngClass]="item.label == 'Working Days' ? 'green_txt2' : item.label == 'Holidays' ? 'yellow_txt' : item.label == 'Government Holidays' ? 'green_txt2' : ''">
            {{item.count}}
          </h6>
        </div>
      </div>
    </div>


    <div class="app-calendar">
      <!-- <div class="d__flex"> -->
      <div [class.px-20]="!db.ismobile" class="w-50 stciky_cal border-r p-10">
        <img src="/assets/leaves/main.svg" class="main-img" alt="calendar image" />

        <br>

        <div *ngIf="!db.ismobile" [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
            (dayClicked)="dayClicked($event.day)" [events]="leaveIndicators"
            [mwlCalendarMonthCellTemplate]="customEventTemplate">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate">
          </mwl-calendar-day-view>
        </div>

        <ng-template #customEventTemplate let-event="event">
          <!-- Customize event rendering here -->
          <div class="custom-event">
            {{ event.title }}
          </div>
        </ng-template>
      </div>


      <div *ngIf="db.ismobile && list_data.cards && list_data.cards.length != 0" class="attendance_dashboard">
        <div *ngFor="let item of list_data.cards;let i = index" class="over_flow">
          <div class="w-100 d__flex just-s first_sec mb-5">
            <ion-icon
              [src]="(db.employeeList[i] && db.beachValue[i].icon) ? db.beachValue[i].icon : db.beachValue[i % (db.beachValue.length)].icon"
              class="fnt-30"></ion-icon>
            <p [ngStyle]="{'color':(db.employeeList[i] && db.beachValue[i].color) ? db.beachValue[i].color : db.beachValue[i % (db.beachValue.length)].color}"
              class="m-0 fnt-14 fnt_w500">{{item.count}}</p>
          </div>
          <p class="m-0 fnt-12 fnt_w500 label">{{item.label}}</p>
        </div>
      </div>

      <div *ngIf="db.ismobile && holiday_type == 'Calendar'" class="d__flex just-s py-10">

        <div class="d__flex gap-10 ">
          <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="changeCalendarMonth(viewDate)">
            <ion-icon class="mouse" src="/assets/left-arrow.svg"></ion-icon>
          </div>
          <div class="" mwlCalendarToday [(viewDate)]="viewDate">
            <h3 class="m-0 fnt-15">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="changeCalendarMonth(viewDate)">
            <ion-icon class="mouse" src="/assets/right-arrow.svg"></ion-icon>
          </div>
        </div>

      </div>

      <div *ngIf="db.ismobile && holiday_type == 'Calendar'" [ngSwitch]="view" class="mb-10">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)" [events]="leaveIndicators"
          [mwlCalendarMonthCellTemplate]="customEventTemplate">
        </mwl-calendar-month-view>
      </div>


      <app-common-search *ngIf="db.ismobile && holiday_type != 'Calendar'" [noFilter]="true" placeholder="Search" 
        (call_clear_txt)="clear_txt.emit('')" (search_txt_value)="searchTxtValue.emit($event)"></app-common-search>

      <div class="w-50 " *ngIf="holiday_type != 'Calendar'">
        <div *ngIf="!db.ismobile" class="d__flex gap-10 just-s px-20">
          <div class="">
            <h1 class="m-0 fnt-18">Main Holidays</h1>
          </div>

          <div class="d__flex gap-10">
            <app-common-search [noFilter]="true" placeholder="Search" (call_clear_txt)="clear_txt.emit('')"
              (search_txt_value)="searchTxtValue.emit($event)"></app-common-search>
            
          </div>
        </div>

        <div class="" *ngIf="!db.ismobile">
          <app-tabs-button [overflow]="true" [bg_custom]="true" [border_none]="true" (menu_name)="menu_name.emit($event)"
            [bg_white]="db.ismobile ? false : true" [tabs_array]="options"
            [Lead_seg]="db.sales_manager_role ? true : false"></app-tabs-button>
        </div>

        <!-- List -->
        <!-- #tabList (scroll)="load_data.emit($event)" -->
        <div class="holiday_list" [ngClass]="db.ismobile ? '':'p-10'"
          *ngIf="!db.holiday_list_loader && !db.listSkeleton && list_data && list_data.data && list_data.data.length != 0">
          <div [class.border]="!db.ismobile" [class.border-b]="db.ismobile"
            *ngFor="let item of list_data.data;let i =index" class="d__flex rounded-5 gap-10 p-10 mb-10">
            <div class="border-r flex-10 text-c">
              <h5 class="m-0 fnt-20">{{item.date | date: "d"}}</h5>
              <p class="m-0 fnt-15 gray_clr">{{item.date | date: "MMM"}}</p>
            </div>

            <div class="flex-90">
              <div class="d__flex just-s pb-5">
                <h6 class="m-0 fnt-15 holiday" [innerHTML]="item.description"></h6>
                <!-- <ion-icon name="heart-outline"></ion-icon> -->
              </div>

              <div class="d__flex just-s">
                <div class="d__flex gap-10">
                  <p class="m-0 fnt-13 gray_clr">{{checkDateFormat(item.date,'date')}}</p>
                  <div class="d__flex gap-10">
                    <div class="dot dot-1"></div>
                    <p class="m-0 fnt-13 gray_clr">{{checkDateFormat(item.date,'')}}</p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <app-skeleton-loader type="holiday_list" *ngIf="db.bodySkeleton && db.ismobile" [list_len]="[0,1,2,3,4,5]"
          [list_len_count]="6"></app-skeleton-loader>

        <!-- <app-skeleton-loader type="Holiday List"  [list_len]="[0,1,2,3,4,5]" [list_len_count]="6"></app-skeleton-loader> -->
        <!-- px-20 -->
        <div class="p-10 mb-10" *ngIf="db.holiday_list_loader && !db.ismobile">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]"
            style="display: flex;gap: 15px;align-items:center; border: 1px solid #ddd;padding: 5px 10px;border-radius: 5px; margin-bottom: 10px;">
            <!-- style="width: calc(4% - 10px);border-right: 1px solid #ddd;" -->
            <div>
              <ion-skeleton-text animated style="width: 40px; height: 25px;border-radius: 5px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
            </div>

            <div style="border-left: 1px solid #ddd; padding: 0 10px;width: 100%;">
              <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              <div style="display: flex;gap: 15px;align-items:center;justify-content:space-between;">
                <div style="display: flex;gap: 15px;align-items:center;">
                  <ion-skeleton-text animated style="width: 70px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 90px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                </div>

                <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="db.listSkeleton" class="">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]" style="display: flex;gap: 15px;align-items:center; border: 1px solid #ddd;padding: 5px 10px;
        border-radius: 5px; margin-bottom: 10px;">
            <!-- style="width: calc(4% - 10px);border-right: 1px solid #ddd;" -->
            <div>
              <ion-skeleton-text animated style="width: 40px; height: 25px;border-radius: 5px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
            </div>

            <div style="border-left: 1px solid #ddd; padding: 0 10px;width: 100%;">
              <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              <div style="display: flex;gap: 15px;align-items:center;justify-content:space-between;">
                <div style="display: flex;gap: 15px;align-items:center;">
                  <ion-skeleton-text animated style="width: 70px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 90px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                </div>

                <!-- <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text> -->
              </div>
            </div>

          </div>
        </div>


        <app-no-record-found [Lead_detail]="db.sales_manager_role ? true : false"
          *ngIf="!db.bodySkeleton && ((!db.listSkeleton && !list_data) || (!db.listSkeleton && list_data && list_data.data && list_data.data.length == 0))"
          [column]="true" height="calc(100vh - 384px)" [heading]="'No record found'"
          [image]="'assets/icon/empty.svg'"></app-no-record-found>

      </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- New Code -->

<div class="" *ngIf="!db.ismobile">


  <div class="parent-h bg_white no_scroll">
    <div *ngIf="false && !db.ismobile && list_data.cards && list_data.cards.length > 0" class="d__flex border-bottom just-s">

      <div *ngFor="let item of list_data.cards;index as i" class="border-r flex-33 p-10"
        [class.border_right_none]="i == list_data.cards.length-1">
        <div class="p-10">
          <h6 class="m-0 fnt-16 pb-10">{{item.label}}</h6>
          <h6 class="m-0 fnt-18 "
            [ngClass]="item.label == 'Working Days' ? 'green_txt2' : item.label == 'Holidays' ? 'yellow_txt' : item.label == 'Government Holidays' ? 'green_txt2' : ''">
            {{item.count}}
          </h6>
        </div>
      </div>
    </div>

    <div class="app-calendar">
      <div [class.px-20]="!db.ismobile" [class.mb-20]="!db.ismobile" class="stciky_cal p-10 w-100" *ngIf="db.viewListType == 'Grid'">
        <div *ngIf="!db.ismobile" class="d__flex just-s py-10">

          <div class="d__flex gap-10 ">
            <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              <ion-icon class="mouse" src="/assets/left-arrow.svg"></ion-icon>
            </div>
            <div class="" mwlCalendarToday [(viewDate)]="viewDate">
              <h3 class="m-0 fnt-15">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
              <ion-icon class="mouse" src="/assets/right-arrow.svg"></ion-icon>
            </div>
          </div>


          <div class="d__flex gap-10 bg_gray just-s">
            <div class="btn btn-primary mouse fnt-13" (click)="view = CalendarView.Month"
              [class.active]="view === CalendarView.Month">
              Month
            </div>
            <div class="btn btn-primary mouse fnt-13" (click)="view = CalendarView.Week"
              [class.active]="view === CalendarView.Week">
              Week
            </div>
            <div *ngIf="false" class="btn btn-primary mouse fnt-13" (click)="view = CalendarView.Day"
              [class.active]="view === CalendarView.Day">
              Day
            </div>
          </div>

        </div>

        <!-- <br> -->

        <div [ngSwitch]="view">
          <div >
            <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"
              (dayClicked)="dayClicked($event.day)" [events]="leaveIndicators" [cellTemplate]="customCellTemplate">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate">
            </mwl-calendar-day-view>
          </div>
          
          
        </div>
        
        <ng-template #customCellTemplate let-day="day" let-locale="locale" let-events="leaveIndicators">
          <div class="cal-cell-top">
            <span *ngIf="day.badgeTotal > 0" class="cal-day-badge">
              {{ day.badgeTotal }}
            </span>
            <span class="cal-day-number">
              {{ day.date | calendarDate: 'monthViewDayNumber': locale }}
            </span>
          </div>
          <div *ngIf="day.events && day.events.length != 0">
            <div *ngFor="let eventLabel of day.events" class="event-detail">
              <p class="m-0 fnt_w500 holidayText" [style.color]="eventLabel.color?.primary" [innerHtml]="eventLabel.title"></p>
            </div>
          </div>
        </ng-template>
      </div>

      <div *ngIf="!db.ismobile && (db.viewListType == 'GridTable' || db.viewListType == 'Table')" class="d__flex gap-10 just-s px-10">
        <div class="">
          <h1 class="m-0 fnt-16">Main Holidays</h1>
        </div>

        <div class="d__flex gap-10 filtersSearch">
          <app-common-search [noFilter]="true" placeholder="Search" (call_clear_txt)="clear_txt.emit('')"
            (search_txt_value)="searchTxtValue.emit($event)"></app-common-search>
        </div>
      </div>

      <div class="filtersHoliday" *ngIf="!db.ismobile && (db.viewListType == 'GridTable' || db.viewListType == 'Table')">
        <app-tabs-button [overflow]="true" [bg_custom]="false" [border_none]="true" (menu_name)="menu_name.emit($event)"
          [bg_white]="db.ismobile ? false : true" [tabs_array]="options"
          [Lead_seg]="db.sales_manager_role ? true : false"></app-tabs-button>
      </div>

      <div class="w-100" *ngIf="db.viewListType == 'GridTable'">
        <!-- List -->
        <!-- #tabList (scroll)="load_data.emit($event)" -->
        <div class="holiday_list" [ngClass]="db.ismobile ? '':'p-10'"
          *ngIf="!db.holiday_list_loader && !db.listSkeleton && list_data && list_data.data && list_data.data.length != 0">
          <div [class.border]="!db.ismobile" [class.border-b]="db.ismobile"
            *ngFor="let item of list_data.data;let i =index" class="d__flex rounded-5 gap-10 p-10 mb-10">
            <div class="border-r flex-10 text-c">
              <h5 class="m-0 fnt-20">{{item.date | date: "d"}}</h5>
              <p class="m-0 fnt-15 gray_clr">{{item.date | date: "MMM"}}</p>
            </div>

            <div class="flex-90">
              <div class="d__flex just-s pb-5">
                <h6 class="m-0 fnt-15 holiday" [innerHTML]="item.description"></h6>
                <!-- <ion-icon name="heart-outline"></ion-icon> -->
              </div>

              <div class="d__flex just-s">
                <div class="d__flex gap-10">
                  <p class="m-0 fnt-13 gray_clr">{{checkDateFormat(item.date,'date')}}</p>
                  <div class="d__flex gap-10">
                    <div class="dot dot-1"></div>
                    <p class="m-0 fnt-13 gray_clr">{{checkDateFormat(item.date,'')}}</p>
                  </div>
                </div>

                <!-- <div *ngIf="!db.ismobile">
                  <p class="m-0 fnt-13">Govt Holiday</p>
                </div> -->
              </div>

            </div>
          </div>
        </div>

        <div class="p-10 mb-10" *ngIf="db.holiday_list_loader && !db.ismobile">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]"
            style="display: flex;gap: 15px;align-items:center; border: 1px solid #ddd;padding: 5px 10px;border-radius: 5px; margin-bottom: 10px;">
            <!-- style="width: calc(4% - 10px);border-right: 1px solid #ddd;" -->
            <div>
              <ion-skeleton-text animated style="width: 40px; height: 25px;border-radius: 5px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
            </div>

            <div style="border-left: 1px solid #ddd; padding: 0 10px;width: 100%;">
              <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              <div style="display: flex;gap: 15px;align-items:center;justify-content:space-between;">
                <div style="display: flex;gap: 15px;align-items:center;">
                  <ion-skeleton-text animated style="width: 70px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 90px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                </div>

                <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="db.listSkeleton" class="">
          <div *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]" style="display: flex;gap: 15px;align-items:center; border: 1px solid #ddd;padding: 5px 10px;
        border-radius: 5px; margin-bottom: 10px;">
            <!-- style="width: calc(4% - 10px);border-right: 1px solid #ddd;" -->
            <div>
              <ion-skeleton-text animated style="width: 40px; height: 25px;border-radius: 5px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 40px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
            </div>

            <div style="border-left: 1px solid #ddd; padding: 0 10px;width: 100%;">
              <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
              <div style="display: flex;gap: 15px;align-items:center;justify-content:space-between;">
                <div style="display: flex;gap: 15px;align-items:center;">
                  <ion-skeleton-text animated style="width: 70px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 90px; height: 15px;border-radius: 5px;"></ion-skeleton-text>
                </div>

                <!-- <ion-skeleton-text animated style="width: 100px; height: 15px;border-radius: 5px;"></ion-skeleton-text> -->
              </div>
            </div>

          </div>
        </div>


        <app-no-record-found [Lead_detail]="db.sales_manager_role ? true : false"
          *ngIf="!db.bodySkeleton && ((!db.listSkeleton && !list_data) || (!db.listSkeleton && list_data && list_data.data && list_data.data.length == 0))"
          [column]="true" height="calc(100vh - 384px)" [heading]="'No record found'"
          [image]="'assets/icon/empty.svg'"></app-no-record-found>

      </div>

      <app-common-grid-table [rightDetail]="false" *ngIf="db.viewListType == 'Table'" [detailPage]="false" [list_data]="list_data" [headerData]="holidayListKey" [doctype]="'Holiday List'"></app-common-grid-table>
    </div>
  </div>
</div>