ion-backdrop {
  // opacity: 0.9;
  // background: #0000004d;
  // height: 100vh;
  // // transform: translateY(-9%) translateX(0);
  // z-index: 100;

  opacity: 0.9;
  background: #0000004d;
  // height: 100vh;
  // transform: translateY(-9%) translateX(0);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: #0000001c;
  // z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendanceSummary {
  z-index: 100;
  background: var(--ion-background-color, #fff);
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (min-width: 768px) {
  .p510 {
    border-radius: 7px;
    height: 30px;
    padding: 0 8px;
  }

  .attendanceSummary {
    width: 400px !important;
  }
}

@media screen and (max-width: 768px) {
  .p510 {
    border-radius: 7px;
    // height: 30px;
    padding: 0 8px;
    height: 40px;
    // padding: 0 8px;
    width: 40px;
    display: grid;
    place-content: center;
  }

  .calendar_att {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.activeFilter {
  border: 1px solid #069855;
  background: #e4f4ec;
}

.search_bar {
  width: 90%;
  padding: 10px;
  border: 1px solid var(--border-col);
  height: 42px;
  border-radius: 10px;

  ion-icon {
    font-size: 16px;
    color: var(--gray-color);
  }

  .search_input {
    --padding-start: 10px;
    font-size: 13px;
  }
}

.padding_none{
  padding: 0px !important;
  margin-bottom: 10px;
}