<app-header title="Holiday List" [model]="false" [showYear]="false" [showMonth]="holiday_type == 'Calendar' ? true : false"></app-header>

<app-sidemenu-header *ngIf="!db.ismobile" heading="Holiday List"></app-sidemenu-header>

<ion-content [fullscreen]="true">

  <!-- Mobile Skeleton -->
  <div *ngIf="skeleton && (!list_data || (list_data.data && list_data.data.length == 0)) && db.ismobile">

    <!-- Image Section  -->
    <app-skeleton-loader type="img_sec"></app-skeleton-loader>

    <!-- Common Dashboard -->
    <div class="Common_dashboardSkeleton">
      <div class="small_box" *ngFor="let item of [0,1];index as i">
        <app-skeleton-loader type="dashboard"></app-skeleton-loader>
      </div>
    </div>

    <app-skeleton-loader type="search"></app-skeleton-loader>

    <app-skeleton-loader type="holiday_list" [list_len]="[0,1,2,3,4,5]" [list_len_count]="6"></app-skeleton-loader>

  </div>

  <app-holiday-lists *ngIf="list_data" [list_data]="list_data" [holiday_type]="holiday_type"
    (searchTxtValue)="searchTxtValue($event)" (menu_name_month)="menu_name_month($event)" (menu_name)="menu_name($event)" [options]="options" (clear_txt)="searchTxtValue($event)" [currentYear]="currentYear" [currentMonth]="currentMonth"></app-holiday-lists>

</ion-content>