.buyback_detail {
    padding: 10px;
    border: 1px solid var(--border-col);
    border-radius: 12px;

    .asset_icon {
        font-size: 35px;
    }

    .employee_detail,
    .cost_detail {
        .detail {
            background: #F5FAFF;
            border-radius: 5px;
            padding: 8px;
        }
    }
}

.closeBtn {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 95%;
    margin: 10px;
    border: 1px solid var(--border-col);
    border-radius: 10px;

    ion-button {
        --background: #EC3D3E12;
        width: 100%;
        color: #EC3D3E;
        font-weight: 500;
        font-size: 14px;
    }
}

.skeleton {
    padding: 10px;

    .section-s {
        margin-bottom: 8px;
    }
}