<app-header [title]="'Voluntary PF'" [showYear]="false" [model]="false"></app-header>

<ion-content [fullscreen]="true">
  <div class="voluntary-mainSection">
    <div *ngIf="voluntaryList && voluntaryList.name" class="voluntary-profileSection">
      <div class="sec-1">
        <img class="profile-icon"
          [src]="(db.employee_img && db.employee_img.user_image) ? db.product_img(db.employee_img.user_image) : '/assets/icon/profile-owner.svg'" />
        <h5 class="m-0">{{db.cust_name}}</h5>
        <h6 class="m-0">{{db.cust_designation}}</h6>
        <p class="m-0 d__flex gap-10 gray_clr">
          <ion-icon class="fnt-18" src="/assets/Voluntary-Pf/Medal.svg"></ion-icon>
          {{db.employee_img ? db.employee_img.grade : 'CFF 1-NMS'}}
        </p>
      </div>
      <div class="sec-2-main">
        <div class="sec-2" *ngIf="voluntaryList">
          <div class="d__flex just-s mb-10 mt-10">
            <h4 class="m-0 fnt-13 gray_clr">Contribution</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              <ion-icon class="fnt-18" src="/assets/Voluntary-Pf/Tick.svg"></ion-icon>
              {{voluntaryList.contribution_type}}
            </h4>
          </div>
          <div class="d__flex just-s mb-10">
            <h4 class="m-0 fnt-13 gray_clr">Effective Month</h4>
            <h4 class="m-0 fnt-13">{{voluntaryList.effective_month}}</h4>
          </div>
          <div class="d__flex just-s mb-10">
            <h4 class="m-0 fnt-13 gray_clr">Amount</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              <ion-icon class="fnt-18" src="/assets/Voluntary-Pf/Wallet.svg"></ion-icon>
              {{voluntaryList.amount ? (voluntaryList.amount | currency:db.website_settings.currency) : '0'}}
            </h4>
          </div>
          <div class="d__flex just-s mb-10" *ngIf="voluntaryList.contribution_type == 'Percentage Salary'">
            <h4 class="m-0 fnt-13 gray_clr">Percentage</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              {{voluntaryList.percentage ? voluntaryList.percentage : '0'}} %
            </h4>
          </div>
          <div class="d__flex just-s mb-10 mt-10">
            <h4 class="m-0 fnt-13 gray_clr">Payroll Period</h4>
            <h4 class="m-0 fnt-13">{{voluntaryList.payroll_period}}</h4>
          </div>
          <div class="d__flex just-s mb-10">
            <h4 class="m-0 fnt-13 gray_clr">Basic</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              <ion-icon class="fnt-18" src="/assets/Voluntary-Pf/Wallet.svg"></ion-icon>
              {{voluntaryList.basic | currency:db.website_settings.currency}}
            </h4>
          </div>
          <div class="d__flex just-s mb-10">
            <h4 class="m-0 fnt-13 gray_clr">VPF Limit (% of Basic)</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              {{voluntaryList.vpf_limit_percent ?
              voluntaryList.vpf_limit_percent : '0'}}
            </h4>
          </div>
          <div class="d__flex just-s mb-10">
            <h4 class="m-0 fnt-13 gray_clr">VPF Limit</h4>
            <h4 class="m-0 fnt-13 d__flex gap-10">
              {{voluntaryList.vpf_limit ? ( voluntaryList.vpf_limit | currency:db.website_settings.currency) : '0'}}
            </h4>
          </div>
          <div class="d__flex just-s mb-10" *ngIf="voluntaryList.status">
            <h4 class="m-0 fnt-13 gray_clr">Status</h4>
            <div class="d__flex">
              <app-status [reverse]="true" [status]="voluntaryList.status"></app-status>
            </div>
          </div>
        </div>

        <!-- <div class="sec-2 no_List" *ngIf="!voluntaryList">
          <p class="m-0 fnt-18 fnt_w500">No Data Found!</p>
        </div> -->
      </div>
    </div>
    <app-no-record-found *ngIf="!voluntaryList.name" [column]="true" height="calc(55vh - 117px)"
      [heading]="'No record found'" [image]="'assets/icon/empty.svg'"></app-no-record-found>
    <div class="button-section">
      <ion-button fill="clear" (click)="newVoluntarypf()">Add Voluntary PF</ion-button>
    </div>
  </div>
</ion-content>