<div class="mainCalSec">

  <div class="d__flex just-s border-col p-10">
    <p class="m-0 fnt-13">Calendar</p>
    <div class="calendar-header">
      <button (click)="changeMonth(-1)" class="nav-button"><ion-icon name="caret-back-outline"></ion-icon></button>
      <h3 class="m-0 fnt-13 fnt_w600">{{ months[currentMonth] }} {{ currentYear }}</h3>
      <button (click)="changeMonth(1)" class="nav-button"><ion-icon name="caret-forward-outline"></ion-icon></button>
    </div>
  </div>

  <div class="calendar-picker">
  
    <div class="days-of-week">
      <div class="days" *ngFor="let day of daysOfWeek">{{ day }}</div>
    </div>
  
    <div class="calendar-days-wrapper" [class.slide-left]="slideDirection === 'left'" [class.slide-right]="slideDirection === 'right'" (animationend)="resetAnimation()">
      <div class="calendar-days">
        <!-- (click)="selectDate(day)" -->
        <div *ngFor="let day of days" class="bg-change" [class.selected]="isSelected(day?.day)" [class.disabled]="day?.isDisabled" [ngStyle]="day?.styles">
          <span class="weekday" *ngIf="day" class="bg-change" [ngStyle]="{color: day?.styles?.color}">{{ day.day }}</span>
        </div>
      </div>
    </div>
  
  </div>
</div>