<app-header title="Leave Request" [model]="false"></app-header>

<ion-content [fullscreen]="true">

  <!-- <ng-content></ng-content> -->

<div *ngIf="data && emp_detail" class="full_div">
  <div class="body_sec">
    <div class="p-10">
      <div class="dash_board">
        <img class="blue" src="/assets/timesheet/blue.svg" />
        <img class="yellow" src="/assets/timesheet/yellow.svg" />
        <img class="detail_img" *ngIf="emp_detail" [src]="emp_detail.image ? db.product_img(emp_detail.image) : '/assets/leaves/img.png'" />
        <!-- <ion-icon src="/assets/expense-claim/expense_dash.svg" class="icon"></ion-icon> -->
    
        <div class="w-100">
          <div class="d__flex gap-10 just-s pb-5 flex-wrap">
            <h6 class="m-0 bold_name-14 ">{{data.employee_name}}</h6>
          </div>
    
          <div class="d__flex gap-5 pb-5 just-s">
            <p class="m-0 text_2 fnt-13">{{data.employee}}</p>
            <div class="bg_1 flex-auto">
              <h6 class="m-0 fnt-11">{{getDateDifference(emp_detail.date_of_joining)}} </h6>
            </div>
          </div>
          <!-- <div class="d__flex gap-5"><ion-icon class="fnt-14" src="/assets/leaves/job.svg"></ion-icon>
            <p class="m-0 text_2 fnt-12">{{emp_detail.designation}}</p>
          </div> -->
    
        </div>
      </div>
    
      <!-- <div class="d__flex gap-10 just-s py-10">
        <div class="d__flex gap-5">
          <ion-icon src="/assets/leaves/calendar.svg" class="fnt-16"></ion-icon>
    
          <h6 class="m-0 fnt-14 fnt_w400"><span class="m-0 fnt-12">{{data.from_date | date:'MMMM d, y'}}</span> to <span class="m-0 fnt-12">{{data.to_date | date:'MMMM d, y'}}</span></h6>
        </div>
    
        <div class="d__flex gap-10 p-1015 flex-auto" [class.wi-100]="data.docstatus == 1" *ngIf="db.hr_manager_role">
          <div class="btn1 d__flex mouse" *ngIf="data.docstatus != 1" (click)="leave_confirms($event,data,'Reject')"><ion-icon name="close-outline" alt=""></ion-icon><span class="fnt-12 m-0">Reject</span></div>
          <div class="btn2 d__flex mouse" *ngIf="data.docstatus != 1" (click)="leave_confirms($event,data,'Approve')"><ion-icon name="checkmark-outline" alt=""></ion-icon><span class="fnt-12 m-0">Approve</span></div>
        </div>
      </div> -->
    </div>
    
    <!-- <div class="border-t border-b p-10">
      <div class="d__flex gap-10 just-s pb-10">
        <h6 class="m-0 fnt-14 text_2">Total Allocated Leaves</h6>
        <h6 class="m-0 fnt-14 leave">{{(dash_board && dash_board.length > 0) ? dash_board[0]['count'] : 0}}</h6>
      </div>
    
      <div class="d__flex gap-10 just-s">
        <h6 class="m-0 fnt-14 text_2">Balance Leaves</h6>
        <h6 class="m-0 fnt-14">{{data.leave_balance}}</h6>
      </div>
    </div> -->
    
    <div class="p-10 border-b">
    
      <h6 class="m-0 text_2_h">Leave Details</h6>

      <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">Status</h6>
        <app-status [status]="data.status"></app-status>
      </div>
    
      <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">Series</h6>
        <p class="m-0 fnt-14">{{data.name}}</p>
      </div>
    
      <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">Leave Type</h6>
        <p class="m-0 fnt-14">{{data.leave_type}}</p>
      </div>
    
      <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">From Date</h6>
        <p class="m-0 fnt-14">{{data.work_from_date}}</p>
      </div>
    
      <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">To Date</h6>
        <p class="m-0 fnt-14">{{data.work_end_date}}</p>
      </div>
    
      <!-- <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">Total Days</h6>
        <p class="m-0 fnt-14">{{data.total_leave_days}}</p>
      </div> -->
    
      <!-- <div class="d__flex gap-20 flex-wrap pb-10">
        <h6 class="m-0 text_2 fnt-13 flex-35">Applying To</h6>
        <p class="m-0 fnt-14"> Rajarajan / Sudhapriyan / Kartheek</p>
      </div> -->
    
    </div>
    
    <div class="p-10">
      <h6 class="m-0 text_2_h">Reason</h6>
      <p class="m-0 fnt-13 gray_clr capitalize reason_">{{data.reason}}</p>
    </div>
    
  </div>

  <div class="d__flex gap-10 p-1015 btnSec" [class.wi-100]="data.docstatus == 1" *ngIf="db.hr_manager_role">
    <!-- <div class="btn1 d__flex mouse" *ngIf="data.docstatus != 1" (click)="leave_confirms($event,data,'Reject')"><ion-icon name="close-outline" alt=""></ion-icon><span class="fnt-12 m-0">Reject</span></div> -->
    <div class="btn2 d__flex mouse" *ngIf="data.docstatus != 1" (click)="leave_confirms()"><ion-icon name="checkmark-outline" alt=""></ion-icon><span class="fnt-12 m-0">Approve</span></div>
  </div>
</div>


</ion-content>
