@media only screen and (min-width: 768px) {
    .forms__ {
        background: var(--white);
        border-bottom: 1px solid var(--border);
    
        .mar-0-10 {
          margin: 0 10px;
        }
    
        ion-icon {
          background: var(--primary-color);
          border-radius: 50%;
          padding: 5px;
          color: #ffff;
        }
    
        .white {
          color: var(--primary-color);
        }
      }
}