<app-header [title]="title" [showYear]="false" [model]="true"></app-header>

<div class="p-10" *ngIf="!type">
    <div class="pb-10">
      <label class="pb-10">From Date</label>
      <app-custom-calendar format="Date" [read_only]="true" [selectedDate]="editFormValues.from_date" (onChange)="datePickerChange('from_date',$event)"></app-custom-calendar>
    </div>
    <!-- <div class="pb-10">
      <label for="filter_end_date" class="pb-10">To Date</label>
      <app-custom-calendar format="Date" [selectedDate]="editFormValues.to_date " (onChange)="datePickerChange('end_date',$event)"></app-custom-calendar>
    </div> -->
  <!-- </div> -->

  <div class="pb-10">
    <label class="pb-10">Leave Type</label>
    <div class="custom-input">
      <!-- (click)="open_dropdown()" -->
      <ion-input type="text" disabled="true"  [(ngModel)]="editFormValues.leave_type" placeholder="Leave Type" class="form-input"></ion-input>
    </div>
  </div>

  <div class="pb-10">
    <label class="pb-10">Count</label>
    <div class="custom-input">
      <ion-input type="number" disabled="true" [(ngModel)]="editFormValues.total_leave_days" placeholder="Count" class="form-input"></ion-input>
    </div>
  </div>

  <div class="pb-10">
    <label class="pb-10">Status</label>
    <ion-select disabled="title == 'Leave Withdraw' ? 'true' : 'false'" aria-label="Status" interface="popover" placeholder="Status" mode="ios" (ionChange)="changeStatus($event,editFormValues)" [value]="editFormValues.status">
      <ion-select-option *ngFor="let types of statusType" [value]="types.name">{{types.name}}</ion-select-option>
    </ion-select>
  </div>

</div>
<div class="p-10 overflow_auto" *ngIf="type == 'regulariztion'">
  <div class="gap-10">
    <div class="pb-10">
      <label class="pb-10">Date</label>
      <div class="custom-input">
        <ion-input type="date" [(ngModel)]="editFormValues.date" placeholder="Date" class="form-input" disabled="true"></ion-input>
      </div>
    </div>

    <div class="pb-10">
      <label class="pb-10">Duration</label>
      <ion-select aria-label="Duration" interface="popover" placeholder="Duration" mode="md" (ionChange)="changeDuration($event,editFormValues)" [value]="editFormValues.duration">
        <ion-select-option *ngFor="let types of LeaveType" [value]="types.name">{{types.name}}</ion-select-option>
      </ion-select>
    </div>

    <div class="gap-10">
      <div class="pb-10">
        <label class="pb-10">Time</label>
        <div class="custom-input p-10">
        <app-time-picker [each]="{item:'in_time'}" [selectedTime]="editFormValues.in_time" (onChange)="datePickerChange('in_time',$event)"></app-time-picker>
      </div>
      </div>
    </div>

    <div class="pb-10">
      <label class="pb-10">Reason <span class="red">*</span></label>
      <ion-select aria-label="Reason" interface="popover" placeholder="Reason" (ionChange)="changeReason($event,editFormValues)" [value]="editFormValues.reg_reason">
        <ion-select-option *ngFor="let types of regularizationReason" [value]="types.name">{{types.name}}</ion-select-option>
      </ion-select>
    </div>

    <div class="pb-10" *ngIf="editFormValues.reg_reason && editFormValues.reg_reason == 'Others'">
      <label class="pb-10">Description <span class="red">*</span></label>
      <div class="custom-input">
        <ion-textarea rows="6" [(ngModel)]="editFormValues.description" placeholder="Description" (input)="validateInput($event)" class="form-input" required></ion-textarea>
      </div>
    </div>

  </div>
</div>
<div class="p-10 overflow_auto" *ngIf="type == 'leave request'">
  <div class="gap-10">
    <div class="pb-10">
      <label class="pb-10">Posting Date</label>
      <div class="custom-input">
        <ion-input type="date" [(ngModel)]="posting_date" placeholder="Date" class="form-input" disabled="true"></ion-input>
      </div>
    </div>

    <div class="pb-10">
      <label class="pb-10">Leave Type <span class="red">*</span></label>
      <div class="custom-input d__flex">
        <img src="/assets/leaves/type.svg" alt="">
        <ion-input type="text" (click)="open_dropdown()" [(ngModel)]="editFormValues.leave_type" placeholder="Leave Type" class="form-input ml-10"></ion-input>
        <img src="/assets/leaves/arrow-down.svg" alt="">
      </div>
    </div>
    <div class="pb-10">
      <label class="pb-10">Reason <span class="red">*</span></label>
      <div class="custom-input">
        <ion-textarea rows="6" [(ngModel)]="editFormValues.reason" placeholder="Reason" (input)="validateInput($event)" class="form-input" required></ion-textarea>
      </div>
    </div>
    <div class="pb-10">
      <label class="pb-10">Leave Date</label>
      <p class="l_date" *ngFor="let r of leave_preview">{{r.date}} - {{r.duration}} {{r.duration == 'Full Day' ? '(1d)' :'(0.5d)'}}</p>
    </div>
  </div>
</div>

<div class="p-10 overflow_auto" *ngIf="type == 'leave request tool'">
  <!-- <div class="pb-10">
    <label class="pb-10">Status <span class="red">*</span></label>
    <ion-select aria-label="Status" interface="popover" placeholder="Status" (ionChange)="changeStatus($event,editFormValues)" [value]="editFormValues.status">
      <ion-select-option *ngFor="let types of leaveStatus" [value]="types.name">{{types.name}}</ion-select-option>
    </ion-select>
  </div> -->
  <!-- *ngIf="editFormValues.status && editFormValues.status == 'Rejected'" -->
  <div class="pb-10" >
    <label class="pb-10">Rejected Reason <span class="red">*</span></label>
    <div class="custom-input">
      <ion-textarea rows="6" [(ngModel)]="editFormValues.rejected_reason" placeholder="Rejected Reason" (input)="validateInput($event)" class="form-input" required></ion-textarea>
    </div>
  </div>
</div>
<div class="p-10 overflow_auto" *ngIf="type == 'Leave Withdrawal Reason'">
  <div class="pb-10" >
    <label class="pb-10">Rejected Reason <span class="red">*</span></label>
    <div class="custom-input">
      <ion-textarea rows="6" [(ngModel)]="editFormValues.rejected_reason" placeholder="Rejected Reason" (input)="validateInput($event)" class="form-input" required></ion-textarea>
    </div>
  </div>
</div>
<div class="p-10 overflow_auto" *ngIf="type == 'regulariztion tool'">
  <div class="pb-10">
    <label class="pb-10">Reason <span class="red">*</span></label>
    <ion-select aria-label="Reason" interface="popover" placeholder="Reason" (ionChange)="changeReason($event,editFormValues)" [value]="editFormValues.reg_reason">
      <ion-select-option *ngFor="let types of regularizationReason" [value]="types.name">{{types.name}}</ion-select-option>
    </ion-select>
  </div>

  <div class="pb-10" *ngIf="editFormValues.reg_reason && editFormValues.reg_reason == 'Others'">
    <label class="pb-10">Description <span class="red">*</span></label>
    <div class="custom-input">
      <ion-textarea rows="6" [(ngModel)]="editFormValues.description" placeholder="Description" (input)="validateInput($event)" class="form-input" required></ion-textarea>
    </div>
  </div>
  <!-- <div class="pb-10" >
    <label class="pb-10">Reason <span class="red">*</span></label>
    <div class="custom-input">
      <ion-textarea rows="6" [(ngModel)]="editFormValues.reason" placeholder="Reason" (input)="validateInput($event)" class="form-input" required></ion-textarea>
    </div>
  </div> -->
</div>

<div class="p-10 overflow_auto" *ngIf="type == 'letterrequest'">
  <div *ngIf="editFormValues.name == 'Visa Letter'" class="d__flex gap-10">
    <div class="pb-10 f_50">
      <label class="pb-10">From Date</label>
      <app-custom-calendar format="Date" [selectedDate]="editFormValues.from_date" (onChange)="datePickerChange('from_date',$event)"></app-custom-calendar>
    </div>
    <div class="pb-10 f_50">
      <label for="filter_end_date" class="pb-10">To Date</label>
      <app-custom-calendar format="Date" [right]="true" [selectedDate]="editFormValues.to_date " (onChange)="datePickerChange('end_date',$event)"></app-custom-calendar>
    </div>
  </div>
  <div *ngIf="editFormValues.name == 'Visa Letter'" class="pb-10">
    <label for="filter_end_date" class="pb-10">Country <span class="red"> *</span></label>
    <div class="custom-input d__flex">
      <img src="/assets/leaves/type.svg" class="w_h_18" alt="">
      <ion-input class="pl10" (click)="open_country_dropdown()" type="text" placeholder="country"  [(ngModel)]="editFormValues.country" name="country"></ion-input>
      <img src="/assets/leaves/arrow-down.svg" alt="">
    </div>
  </div>
  <div  *ngIf="editFormValues.name == 'Bonafide Letter'" class="pb-10">
    <label class="pb-10">Submit To </label>
    <div class="custom-input">
      <ion-input [(ngModel)]="editFormValues.submit_to"  type="text" name="submit_to" placeholder="Submit To" class="form-input" ></ion-input>
    </div>
  </div>
  <!-- <div class="pb-10">
    <label class="pb-10">Status <span class="red">*</span></label>
    <ion-select aria-label="Status" interface="popover" placeholder="Status" (ionChange)="changeStatus($event,editFormValues)" [value]="editFormValues.status">
      <ion-select-option *ngFor="let types of leaveStatus" [value]="types.name">{{types.name}}</ion-select-option>
    </ion-select>
  </div> -->
  <div class="pb-10">
    <label class="pb-10">Purpose of the Letter <span class="red">*</span></label>
    <div class="custom-input">
      <ion-textarea rows="6" [(ngModel)]="editFormValues.remarks" placeholder="Purpose of the Letter" (input)="validateInput($event)" class="form-input" required></ion-textarea>
    </div>
  </div>
</div>

<div *ngIf="!type" class="submit-btn">
  <ion-button (click)="save()" fill="clear">Save</ion-button>
</div>
<div *ngIf="type == 'regulariztion' || type == 'regulariztion tool'" class="submit-btn">
  <ion-button (click)="reg_save()" fill="clear">Save</ion-button>
</div>
<div *ngIf="type == 'leave request tool'" class="submit-btn">
  <ion-button (click)="leave_req_save()" fill="clear">Save</ion-button>
</div>
<div *ngIf="type == 'letterrequest'" class="submit-btn">
  <ion-button (click)="letter_req_save()" fill="clear">Save</ion-button>
</div>
<div *ngIf="type == 'leave request'" class="submit-btn">
  <ion-button (click)="leave_req()" fill="clear">Save</ion-button>
</div>
<div *ngIf="type == 'Leave Withdrawal Reason'" class="submit-btn">
  <ion-button (click)="leave_withdraw_reason()" fill="clear">Save</ion-button>
</div>
<!-- <div *ngIf="type == 'regulariztion tool'" class="submit-btn">
  <ion-button (click)="reg_save()" fill="clear">Save</ion-button>
</div> -->
