.custom-input {
    margin-top: 5px;
    border: 1px solid var(--border-col);
    border-radius: 7px;
    padding: 0 10px !important;

    ion-input,
    ion-textarea {
        font-size: 13px !important;
    }
}

label {
    font-size: 12px;
    margin: 0;
}

ion-select {
    height: 40px;
    min-height: 40px;
    border: 1px solid var(--border-col);
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 13px;
}

.submit-btn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    background: #fff;
    z-index: 99999;
    border-top: 1px solid var(--border-col);

    ion-button {
        width: 100%;
    }
}

.p-10{
    padding: 10px !important;
}

.red{
    color:red;
}

.overflow_auto{
    overflow-y: auto;
    height: calc(73vh - 55px);
    // height: 100vh;
}

.l_date{
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}

.w_h_18{
    width: 18px;
    height: 18px;
}

.pl10{
    padding-left: 10px !important;
}

.f_50{
    flex: 0 0 calc(50% - 5px);
}