
<app-sidemenu-header *ngIf="!db.ismobile" [heading]="'Tickets'"></app-sidemenu-header>
<app-header *ngIf="db.ismobile" [title]="'Details'" [showYear]="false" [model]="false"></app-header>

<div [class.centered_content]="db.hd_ticket_show">

  <!-- <ion-segment [value]="selectedTabs" (ionChange)="changeSelectTabs($event)">
    <ion-segment-button *ngFor="let item of ticketTabs" [value]="item.name">
      <ion-label class="m-0 fnt_w500">{{item.name}}</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <div class="filter_sec">
    <app-tabs-button [border_none]="true" [no_mb]="true" [overflow]="true" [bg_white]="db.ismobile ? false : true"
      (menu_name)="menu_name($event)" [tabs_array]="ticketTabs"></app-tabs-button>
  </div>

  <div *ngIf="ticket_send_details && selectedTabs == 'Info'">
    <div class="ticket_details">
      <div class="d__flex gap-10 p-10 border-b">
        <img src="/assets/tickets/man.svg" alt="">
        <div class="w-100">
          <div class="d__flex just-s">
            <h4 class="m-0 fnt-15 webkit-text" [style.--line]="1"> {{ticket_send_details.custom_employee_name}} </h4>
            <app-status [status]="'Active'"></app-status>
          </div>
          <p class="m-0 fnt-14"> {{ticket_send_details.custom_employee_id}} </p>
        </div>
      </div>
      <div class="p-10">
        <div class="d__flex gap-10 just-s mb-5">
          <h6 class="m-0 bold_name-13 capitalize">{{ ticket_send_details.ticket_type }}</h6>
  
          <app-common-priority [priority]="ticket_send_details.priority"></app-common-priority>
        </div>
  
        <div class="d__flex just-s mb-5">
          <div class="d__flex gap-5">
            <p class="m-0 gray_txt">{{ ticket_send_details.custom_employee_name }}</p>
            <p class="m-0 gray_txt">{{ transformDateToDays(ticket_send_details.creation) }}</p>
          </div>
          <div>
            <app-status [status]="ticket_send_details.status" [reverse]="true"></app-status>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-10">
      <app-show-ticket-detail [ticket_send_details]="ticket_send_details"></app-show-ticket-detail>
    </div>
    
    <div class="close-btn" *ngIf="ticket_send_details.status == 'Resolved'">
      <ion-button (click)="openFeedback('Resolved')" fill="clear"><ion-icon class="white" slot="start" name="checkmark-outline"></ion-icon>Close</ion-button>
    </div>

    <div class="close-btn" *ngIf="ticket_send_details.status == 'Closed'">
      <ion-button (click)="openFeedback('Closed')" fill="clear"><ion-icon class="white" slot="start" name="checkmark-outline"></ion-icon>Reopen Ticket</ion-button>
    </div>
  </div>
  
  <div class="seperate_ticket" *ngIf="ticket_send_details && selectedTabs == 'Messages'">
    
    <div id="msg" class="offer_content" [class.offer_content_position_unset]="!db.ismobile && db.text_width" [class.ticket_offer_content]="db.hd_ticket_show" *ngIf="!db.skeleton_detail">
      <div class="offer_col1">
        
        <div [class.message_container-active]="db.text_width" *ngIf="!db.skeleton_detail && db.ticket_details && db.ticket_details.length != 0;else empty_detail" class="message_container" [class.message_container_closed]="ticket_send_details.status == 'Closed'">
          
          <!-- <div id="you" class="message_list d__flex " *ngFor="let item of db.ticket_details;let i=index">
            <div class="message_box" [id]="'ticket'+i">
              
              <div class="offer_head">
                <div class="d___flex gap-10">
                  <ion-avatar class="msg_avatar">
                    <p class="m-0 avatar" [style.background]="item.bg_color" [style.color]="item.color">{{item.owner == db.cust_email ? 'Y' : item.owner[0]}}</p>
                  </ion-avatar>
                  <div>
                    <p class="dark-text profile_name_text m-0">{{item.owner == db.cust_email ? 'You' : item.owner}}</p>
                    <p class="gray_text m-0">{{item.creation | date : 'MMM d, y, h:mm a'}}</p>
                  </div>
                </div>
                <div class="message_body" >
                  <p *ngIf="item.content" [innerHtml]="item.content" class="fade-400 m-0 message_content" [class.fnt-12]="db.ismobile"></p>
                </div>
              </div>
            </div>
          </div> -->

          <div *ngFor="let item of db.ticket_details;let i=index" class="mb-10 content_box" [class.box_content_me]="item.owner == db.cust_email">
            <div class="d__flex just-s w-100 mb-10 box_content" [class.row-reverse]="item.owner == db.cust_email">
              <div class="d__flex gap-10" [class.row-reverse]="item.owner == db.cust_email">
                <!-- <p class="avatar_name">{{item.owner[0]}}</p> -->
                <p class="m-0 fnt-14 primary_clr">{{ item.owner == db.cust_email ? 'Me' : item.owner}}</p>
              </div>
              <p class="fnt-14 m-0 gray_clr">{{item.creation | date: 'h:mm a'}}</p>
            </div>
            <p class="fnt-13 m-0 msg_text" [class.textEnd]="item.owner == db.cust_email" [innerHtml]="item.content"></p>
          </div>

        </div>
    
        <ng-template #empty_detail>
          <div [class.empty_message-active]="db.text_width" class="empty_message">
            <ion-icon class="fnt-25" name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>No messages</ion-label>
          </div>
        </ng-template>
  
        <!-- <div class="message_box  get_msg" [class.unset]="db.text_width && db.ticket_details.length == 0" [class.get_msg_position_unset]="!db.ismobile && db.text_width" [class.ticket_show_get_msg]="db.hd_ticket_show" [class.h-93]="(db.text_width && (db.ticket_details && db.ticket_details.length != 0))">
          <div class="input_box d__flex ticketText">
            <div *ngIf="db.text_width" class="input_top_bar d__flex">
              <div class="top_width">
                <p class="m-0 fnt-15 gray_clr fnt_w500">Reply</p>
              </div>
              <quill-editor class="text-editor ticket_quill" [modules]="modules" [(ngModel)]="message_data"
                (onContentChanged)="validate()" [ngModelOptions]="{standalone: true}"
                placeholder="Start typing your message..." style="width:100%;height:270px;" [ngStyle]="{'width':'100%','height':db.ismobile ? '270px':''}">
              </quill-editor>
              <div class="error">
                <p *ngIf="error">* required</p>
              </div>
  
              <div *ngIf="attach_list && db.ismobile" class="d__flex gap-10 ion_chip_mobile_head">
                <div  class="ion_chip_mobile" *ngFor="let item of attach_list;let i=index" >
                <ion-icon name="close-circle" (click)="removeLink(i)"></ion-icon>
                <span>{{item.file_name}}</span>
               </div> 
              </div> 
              
              <div class="submit_msg d__flex gap-15">
                <div class="d__flex save_btn w-100">
                  <ion-button fill="clear" class="send__button fnt-inter" (click)="onsubmit()">Send<ion-icon class="mr-l white" slot="start" name="paper-plane-outline"></ion-icon>
                  </ion-button>

                  <ion-icon name="attach-outline" class="attach_icon mouse" (click)="inputFile.click()"></ion-icon>
                 <div class="d__flex" [class.w-85]="!db.ismobile">
                   <input #inputFile id="input-file"  style="visibility: hidden;" type="file" (change)="readMultipleFile($event)" 
                    multiple/>
                    <div *ngIf="attach_list && !db.ismobile" class="d__flex gap-10 ion-wrap">
                         <div  class="ion_chip" *ngFor="let item of attach_list;let i=index" >
                         <ion-icon name="close-circle" (click)="removeLink(i)"></ion-icon>
                         <span>{{item.file_name}}</span>
                        </div> 
                    </div> 
                 </div>
                  
                </div>
                <ion-button fill="clear" class="cancel_button" (click)="focus()">Cancel
                  <ion-icon slot="start" name="close-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
            
            <ion-textarea *ngIf="!db.text_width" class="fnt-inter msg_input fnt-14" [disabled]="db.mail_send_to.status == 'Closed' ? true : false" [class.db.text_width]="db.text_width" (click)="db.mail_send_to.status != 'Closed' ? focus() : null"
               placeholder="Add your reply here..."></ion-textarea>
          </div>
        </div> -->
    
        <div class="message_box1" *ngIf="ticket_send_details.status != 'Closed'">
          <app-common-text-box [edit_value]="message_data" (submitCommonText)="submitCommonText($event)"></app-common-text-box>
        </div>

      </div>
    </div>

    <div *ngIf="db.skeleton_detail" class="align_center">
      <ion-spinner name="lines-sharp"></ion-spinner>
    </div>
  </div>

</div>