@media only screen and (max-width: 768px) {
    #chart {
      // max-width: 650px;
      overflow-x: scroll;
      overflow-y: hidden;
      // margin: 35px auto;
    }
  }

  .dashBoardChart{
    margin: -10px -10px -10px -22px;
  }