// HD Ticket
.avatar_ {
    // flex: 0 0 calc(20% - 10px);
    // position: relative;
    // display: inline-block;
    width: 45px;

    p {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.gray_txt {
    color: #727272;
    font-size: 13px;
}

.bg_high {
    border-radius: 25px;
    padding: 0px 8px;

    ion-icon {
        font-size: 11px;
    }

    p {
        font-weight: 500;
        font-size: 13px;
    }
}

.dotPriority {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.border_sec {
    padding: 0 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.p-510 {
    padding: 5px 10px;
}

.summary_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // margin: 10px;
    // padding: 20px 0;
}

.mi-0 {
    margin: 0 !important;
    height: 4px !important;
    width: 4px !important;
}

.p-120 {
    padding: 10px 20px;
}

.ticket_ico {
    // background: #F2F2F2;
    // padding: 5px 10px;
    // display: grid;
    // border-radius: 5px;

    ion-icon {
        font-size: 28px;
    }
}

.check {
    --border-radius: 10px;
    --size: 17px !important;
}

.filter_sec {
    display: flex;
    align-items: center;
    // margin-bottom: 10px;
    justify-content: space-between;
    background: var(--primary-color);
    position: sticky;
    z-index: 9999;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-10 {
    border-radius: 10px;
}

.border-r {
    border-right: 1px solid var(--border-color);
}

.page_border {
    // border-top: 1px solid var(--border-col);
    padding: 10px;
}

.list_common_height {
    height: calc(100vh - 315px);
    // height: calc(100vh - 180px);
    overflow: auto;
    // padding: 0 10px;
}

.pr-10 {
    padding-right: 10px;
}

.bg_white {
    background: var(--white);
}

.low_bg {
    background: #5606c61a;
    border: 1px solid #5506c41a;

    ion-icon,
    p {
        color: #5506C4;
    }
}

.medium_bg {
    background: #f999001a;
    border: 1px solid #f999001a;

    ion-icon,
    p {
        color: #F99900;
    }
}

.high_bg {
    background: #fa02041a;
    border: 1px solid #fa02041a;

    ion-icon,
    p {
        color: #FA0204;
    }
}

.dot {
    height: 10px;
    width: 10px;
    display: inline-block;
    background: var(--primary-bg);
    border-radius: 50%;
}

.headerIcon {
    padding: 5px;
    background: #d9edff;
    border-radius: 5px;
}

.h45 {
    height: 45px;
}

@media screen and (max-width: 768px) {
    .summary_sec {
        overflow: scroll;
    }

    // .box_{
    //     padding: 10px !important;
    //     width: 120px;
    // }

    .list_common_height {
        height: calc(100vh - 210px);
        overflow: auto;
    }
}

.ticketDashboard {
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
    margin: 10px 0;
    gap: 10px;

    &::-webkit-scrollbar {
        display: none;
    }

    .box_ {
        padding: 10px !important;
        flex: 0 0 35%;
        // border: 1px solid var(--border-col);
        border-radius: 10px;
    }
}

.messageContent {
    background: #F6FAFF;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
}

.box_sec {
    height: calc(100vh - 385px);
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.applyTicketFrame {
    position: relative;

    ion-button {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        left: 10px;
        --padding-start: 10px;
        --padding-end: 10px;
    }

    ion-icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}