// HD Ticket
.avatar_ {
    // flex: 0 0 calc(20% - 10px);
    // position: relative;
    // display: inline-block;
    width: 45px;

    p {
        position: relative;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.gray_txt {
    color: #727272;
    font-size: 13px;
}

.bg_high {
    border-radius: 25px;
    padding: 5px 8px;

    ion-icon {
        font-size: 11px;
    }

    p {
        font-weight: 500;
        font-size: 13px;
    }
}

.border_sec {
    padding: 0 10px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.p-510 {
    padding: 5px 10px;
}

.summary_sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // margin: 10px;
    // padding: 20px 0;
}

.mi-0 {
    margin: 0 !important;
    height: 4px !important;
    width: 4px !important;
}

.p-120 {
    padding: 10px 20px;
}

.ticket_ico {
    background: #F2F2F2;
    padding: 5px 10px;
    display: grid;
    border-radius: 5px;

    ion-icon {
        font-size: 25px;
    }
}

.check {
    --border-radius: 10px;
    --size: 17px !important;
}

.filter_sec {
    // padding: 0 10px 0 0;
    // border-bottom: 1px solid var(--border-col);
    // border-top: 1px solid var(--border-col);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    background:var(--primary-color);
}

.rounded-5 {
    border-radius: 5px;
}

.border-r {
    border-right: 1px solid var(--border-color);
}

.page_border{
    border-top: 1px solid var(--border-col);
    // border-bottom: 1px solid var(--border-col);
    // border-radius: 7px 7px 0 0;
}

.list_common_height {
    height: calc(100vh - 315px);
    // height: calc(100vh - 180px);
    overflow: auto;
    padding: 0 10px;
}

.pr-10 {
    padding-right: 10px;
}

.bg_white {
    background: var(--white);
}

.low_bg {
    background: #EAB60026;
    border: 1px solid #EAB60026;

    ion-icon,
    p {
        color: #EAB600;
    }
}

.medium_bg {
    background: #DF7D0A26;
    border: 1px solid #DF7D0A26;

    ion-icon,
    p {
        color: #DF7D0A;
    }
}

.high_bg {
    background: #F5E6E6;
    border: 1px solid #F5E6E6;

    ion-icon,
    p {
        color: #DF0A0A;
    }
}

.dot {
    height: 10px;
    width: 10px;
    display: inline-block;
    background: var(--primary-bg);
    border-radius: 50%;
}

.headerIcon{
    padding: 5px;
    background: #d9edff;
    border-radius: 5px;
}

.h45{
    height: 45px;
}

@media screen and (max-width: 768px) {
    .summary_sec{
        overflow: scroll;
    }

    .box_{
        padding: 10px !important;
        width: 120px;
    }

    .list_common_height{
        height:calc(100vh - 210px);
        overflow:auto;
    }
}