.tableContainer {
    width: 100%;
    overflow: auto;
    // min-height: 80vh;
    // height: calc(100vh - 227px);

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        outline: none;
        border: none;
    }

    &:active {
        outline: none;
        border: none;
    }

    /* If any child elements inside the container might be causing the issue */
    &*:focus {
        outline: none;
        border: none;
    }

    &*:active {
        outline: none;
        border: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

th {
    font-weight: 500;
}

tr td:hover {
    background: #f9f9f9;
    cursor: pointer;
}

th {
    background: #f9f9f9 !important;
    font-size: 13px;
    font-weight: 500;
}

td,
th {
    // border: 1px solid #ebebeb;
    outline: 1px solid var(--border-col);
    text-align: left;
    padding: 6px;
    width: 165px;
}

.sticky-column1 {
    width: 400px !important;
    position: sticky;
    left: 0;
    background: white;
    z-index: 2;
    border-left: 0;
    // border-bottom: 0;
    // border-right: 0;

    ion-icon {
        border: 1px solid #7fbdfa;
        border-radius: 50%;
        // padding: 3px;
        color: var(--primary-color);
    }
}

.sticky-column1::after {
    content: " ";
    width: 0px;
    // box-shadow: -5px 0px 11px -5px rgb(0 0 0 / 25%);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-left: 1px solid var(--border-col);
}

.sticky-column {
    // width: 500px !important;
    position: sticky;
    left: 0;
    background: white;
    z-index: 2;
    border-left: 0;
    // border-bottom: 0;
    // border-right: 0;

    ion-icon {
        border: 1px solid #7fbdfa;
        border-radius: 50%;
        // padding: 3px;
        color: var(--primary-color);
    }
}

.sticky-column::after {
    content: " ";
    width: 0px;
    // box-shadow: -5px 0px 11px -5px rgb(0 0 0 / 25%);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border-left: 1px solid var(--border-col);
}

.detailIcon:hover {
    color: var(--primary-color);
}

.bg_high {
    border-radius: 7px;
    padding: 2px 8px;

    ion-icon {
        font-size: 11px;
    }

    p {
        font-weight: 500;
        font-size: 12px;
    }
}

.low_bg {

    ion-icon,
    p {
        color: var(--low);
    }
}

.medium_bg {

    ion-icon,
    p {
        color: var(--medium);
    }
}

.high_bg {

    ion-icon,
    p {
        color: var(--high);
    }
}



.relative__ {
    position: relative;

    .absolute_ {
        position: absolute;
    }

    .clickProject {
        position: absolute;
        width: 165px;
        border: 1px solid var(--border-col);
        border-radius: 3px;
        z-index: 9999;
        left: 0;
        top: 35px;

        .list {
            padding: 5px 10px;
        }
    }
}

.filter_sec {
    // padding: 10px;
    border-bottom: 1px solid var(--border-col);
}

.align_center {
    display: grid;
    place-items: center;
    min-height: calc(100vh - 230px);

    img {
        height: 100px;
    }
}

.checkBoxSection {
    width: 30px !important;
    left: 0 !important;
}

.dyna_width {
    width: calc(var(--cus-width) * 1px);
}

.wi-100 {
    width: 100% !important;
}

.btn1 {
    background: var(--white);
    border: 1px solid #e3e3e3;
    height: 25px;
    border-radius: 5px;
    width: 25px !important;
    justify-content: center;
}

.btn2 {
    background: #458F5A;
    height: 25px;
    border-radius: 5px;
    width: 25px !important;
    justify-content: center;

    span,
    ion-icon {
        color: var(--white);
    }
}

.pr-10 {
    padding-right: 10px !important;
}

// .headerSticky{
//     position: sticky;
//     top: 42px;
//     z-index: 99999999;
// }

.arrowIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    right: 0;
    width: 20px;
}

.text-t-unset {
    text-transform: unset !important;
}



.assignTo {
    // min-height: 35px;
    // justify-content: space-between;
    gap: 5px;

    .sec_2 {
        gap: 15px;

        .call,
        .whats {
            font-size: 20px;
        }
    }

    .user_i {
        font-size: 25px;
        margin: 0 8px 0 0;
    }

    .more_ {
        font-size: 12px;
        font-weight: 500;
        color: #000;
        margin: 3px 0 0 35px;
    }
}


.custom_h {
    height: calc(100vh - 240px);
    min-height: unset !important;

}

.proj_td_open {
    background: rgb(0 126 229 / 6%);
}

.proj_td_working {
    background: #ff872517;
}

.proj_td_completed {
    background: rgb(100 222 114 / 14%);
}

.proj_td_pending_review {
    background: #077e8c14;
}

.proj_td_overdue {
    background: #0392c314;
}

.headerRow {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.no-select {
    user-select: none;
    /* Disable selection */
    -webkit-user-select: none;
    /* For Safari */
    -moz-user-select: none;
    /* For Firefox */
    -ms-user-select: none;
    /* For Internet Explorer */
}

.isSelected{
    background: #b4e1ff !important;
}