<app-header [title]="'Transfer Detail'" [showYear]="false" [model]="false"></app-header>

<ion-content [fullscreen]="true" style="--background: #F7FAFD;">
  <div class="detail_sec">
    <div class="profile_sec mb-10">
      <div class="sec1 mb-10">
        <div class="img">
          <img src="/assets/Employee Transfer/employee.png" alt="">
        </div>
        <div class="w-100">
          <div class="d__flex just-s">
            <p class="m-0 fnt-15 fnt_w500">{{'Karthick'}}</p>
  
            <div class="d__flex">
              <app-status [reverse]="true" [status]="'Active'"></app-status>
            </div>
          </div>
          <p class="m-0 fnt-14 d__flex gap-10"> <ion-icon src="/assets/Employee Transfer/designation.svg"></ion-icon> {{'Software Developer'}}</p>
        </div>
      </div>
      <div class="sec2 d__flex just-s">
        <p class="m-0 fnt-14 fnt_w500">{{'Karthick'}}</p>
        <p class="m-0 fnt-14 fnt_w500 d__flex gap-10"> <ion-icon class="fnt-18" src="/assets/Employee Transfer/medal.svg"></ion-icon> {{'CFF 1-NMS'}}</p>
      </div>
    </div>

    <h5 class="m-0 fnt-14 mb-10 gray_clr">TRANSFER DETAIL</h5>

    <div class="transfer_detail mb-10">
      <p class="m-0 fnt-12 mb-10">{{'For Database Migration and cloud Data Monitoring'}}</p>

      <div class="d__flex just-s mb-10 pt-10 border-t">
        <div>
          <p class="m-0 fnt-14 gray_clr">Initiator</p>
          <p class="m-0 fnt-14 fnt_w500">{{'Ranjith'}}</p>
        </div>
        <div>
          <p class="m-0 fnt-14 gray_clr">Initiate Date</p>
          <p class="m-0 fnt-14 fnt_w500">{{'20 Feb 2025'}}</p>
        </div>
      </div>

      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Approval/Rejection Date</p>
        <p class="m-0 fnt-14 fnt_w500">{{'24 Feb 2025'}}</p>
      </div>

      <h5 class="m-0 fnt-14 mb-10 gray_clr">CURRENT</h5>

    <div class="current_detail">
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Current Work Location</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Tamarai IT Park, Guindy'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Current L1 Manager</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Rajan'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Start Date</p>
        <p class="m-0 fnt-14 fnt_w500">{{'28 Feb 2025'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Current RHR</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Kalai'}}</p>
      </div>
    </div>

    <h5 class="m-0 fnt-14 mb-10 gray_clr">NEW</h5>

    <div class="new_detail">
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">New Work Location</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Workafella IT Park, Sholinganallur'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">New L1 Manager</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Stephen'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">End Date</p>
        <p class="m-0 fnt-14 fnt_w500">{{'15 Apr 2025'}}</p>
      </div>
      <div class="mb-10">
        <p class="m-0 fnt-14 gray_clr">Current RHR</p>
        <p class="m-0 fnt-14 fnt_w500">{{'Shiva'}}</p>
      </div>
    </div>
    </div>
  </div>
</ion-content>
