<app-header [title]="'Transfers'" [showYear]="false" [model]="false"></app-header>

<ion-content class="content_bg" [fullscreen]="true">
    
<div *ngIf="empTransferList && empTransferList.length != 0" class="transfer_height" (scroll)="load_more($event)">  
    <!-- [routerLink]="/emp-transfer-detail/item.name" -->
    <div *ngFor="let item of empTransferList" class="emp_box mb-10" (click)="goto_route(item.name)">
        <div class="sec1">
            <div class="d__flex just-s mb-5">
                <p class="m-0 fnt-14 d__flex gap-10 fnt_w500"><ion-icon class="fnt-20" src="/assets/Employee Transfer/man.svg"></ion-icon> {{item.name}}</p>
                <div class="d__flex">
                    <app-status [reverse]="true" [status]="item.workflow_state ? item.workflow_state : 'Pending'"></app-status>
                </div>
            </div>
            <div class="d__flex just-s mb-5">
                <p class="m-0 fnt-14 d__flex gap-10"><ion-icon class="fnt-20" src="/assets/Employee Transfer/profile.svg"></ion-icon> {{item.employee_name}}</p>
                <!-- <p class="m-0 fnt-14 d__flex gap-10">{{'58 Days'}}</p> -->
            </div>
        </div>
        <div class="sec2">
            <div class="d__flex just-s mb-5">
                <p class="m-0 fnt-13 d__flex gap-10 fnt_w500 gray_clr">{{item.current_work_location}}</p>
                <ion-icon class="fnt-20" src="/assets/Employee Transfer/arrow.svg"></ion-icon>
                <p class="m-0 fnt-13 d__flex gap-10 fnt_w500">{{item.current_work_location}}</p>
            </div>
            <div class="d__flex just-s mb-5">
                <p class="m-0 fnt-13 d__flex gap-10 fnt_w500 gray_clr">{{item.transfer_initiation_date | date: 'd MMM y'}}</p>
                <ion-icon class="fnt-20" src="/assets/Employee Transfer/arrow.svg"></ion-icon>
                <p class="m-0 fnt-13 d__flex gap-10">{{item.transfer_date | date: 'd MMM y'}}</p>
            </div>
            <div class="d__flex just-s mb-5">
                <p class="m-0 fnt-13 d__flex gap-10 fnt_w500 gray_clr">{{item.current_l1_manager}}</p>
                <ion-icon class="fnt-20" src="/assets/Employee Transfer/arrow.svg"></ion-icon>
                <p class="m-0 fnt-13 d__flex gap-10 fnt_w500">{{item.new_l1_manager}}</p>
            </div>
        </div>
    </div>
</div>

<app-no-record-found *ngIf="empTransferList && empTransferList.length == 0" [column]="true" height="calc(100vh - 50px)"
      [heading]="'No record found'" [image]="'assets/icon/empty.svg'"></app-no-record-found>

</ion-content>
