
<div #modalContent class="updateTimesheet">

  <div class="d__flex gap-10 header">
    <ion-icon class="ion-icon" (click)="db.close_modal()" name="chevron-back-outline"></ion-icon>
    <div class="w-100">
      <p class="fnt-14 fnt_w500 m-0 white capitalize webkit-text" [style.line]="1">{{employeeDetail.employee_name}}</p>
      <div (click)="db.close_modal()" [routerLink]="'/detail/employee/' + employeeDetail.name" class="d__flex gap-10 just-s w-100">
        <h6 class="fnt-12 fnt_w400 gray_clr m-0 mt-5" [style.line]="1">{{employeeDetail.name}}</h6>
        <!-- <ion-icon  style="margin: 4px 0 0 -3px;" class="fnt-15 gray_clr" name="create-outline"></ion-icon> -->
      </div>
    </div>
  </div>

  <div  class="body_sec">
    <div class="employeeDetail-s">
      <div *ngIf="employeeDetail" class="employeeDetail">
        
        <div class="d__flex gap-10 just-s employeeDetails">
          <img class="blue" src="/assets/timesheet/blue.svg" /> 
          <img class="yellow" src="/assets/timesheet/yellow.svg" /> 
          <div class="d__flex m-0 details w-100">
            <div class="imageDiv">
              <img *ngIf="employeeDetail.image" [src]="db.product_img(employeeDetail.image)" />
              <h4 *ngIf="!employeeDetail.image" class="m-0 fnt-15 fnt_w500">{{employeeDetail?.employee_name[0]}}</h4>
              <!-- <ion-icon class="mouse camera" (click)="file_upload.click()" name="camera"></ion-icon> -->
            </div>
            <div class="w-100">
              <h4 class="fnt-14 fnt_w500 m-0 name webkit-text capitalize" [style.--line]="1">{{employeeDetail?.employee_name}}</h4>
              <div class="d__flex title just-s w-100">
                <h4  *ngIf="employeeDetail.name" class="fnt-12 fnt_w400 m-0 id gray_clr">{{employeeDetail?.name}}</h4>
                <app-status [status]="employeeDetail.status"></app-status>
              </div>
            </div>
         </div>    
        </div>  
      </div>
    </div>

    <!-- Leave Details -->

    <div *ngIf="employeeDetail && employeeDetail.leave_balance && employeeDetail.leave_balance.length > 0" class="w-100">
      <div class="d__flex just-s p-10">
        <h2 class="fnt-15 fnt_w500 m-0">Leave Details</h2>
        <ion-icon (click)="employeeDetail['showLeaveDetails'] =! employeeDetail['showLeaveDetails']" [name]="!employeeDetail['showLeaveDetails'] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </div>
      <div class="section" *ngIf="!employeeDetail['showLeaveDetails']">
        <div class="box_1" *ngFor="let itemLeaves of employeeDetail.leave_balance">
          <div class="m-7 d__flex just-s">
            <ion-icon class="fnt-16 icon " [ngClass]="itemLeaves.label ? checkImages(itemLeaves.label,'class') : ''"
              [src]="checkImages(itemLeaves.label,'')"></ion-icon>
            <p class="m-0 fnt_w500 " [style.color]="checkImages(itemLeaves.label,'color')">{{itemLeaves.count}}</p>
          </div>
          <p class="fnt-12 m-0 ">{{itemLeaves.label}}</p>
        </div>
      </div>
    </div>
    
    <!-- Working Branch Details -->

    <div *ngIf="employeeDetail && !employeeDetail.custom_same_working_branch">
      <div class="d__flex just-s p-10">
        <h2 class="fnt-15 fnt_w500 m-0">Working Branch Details</h2>
        <ion-icon (click)="employeeDetail['workingBranchDetails'] =! employeeDetail['workingBranchDetails']" [name]="!employeeDetail['workingBranchDetails'] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </div>
  
      <div class="d__flex detailView p-10" *ngIf="!employeeDetail['workingBranchDetails']">
        <h4 class="m-0">Branch</h4>
        <h4 class="m-0 text-transform-none">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].branch ? employeeDetail.enterprise_data[0].branch : '-'}}</h4>
        <h4 class="m-0">Branch Code</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].branch_code ? employeeDetail.enterprise_data[0].branch_code : '-'}}</h4>
        <h4 class="m-0">SBU</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].sbu ? employeeDetail.enterprise_data[0].sbu : '-'}}</h4>
        <h4 class="m-0">SBU Code</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].sbu_code ? employeeDetail.enterprise_data[0].sbu_code : '-'}}</h4>
        <h4 class="m-0">Department</h4>
        <h4 class="m-0">{{employeeDetail.department ? employeeDetail.department : '-'}}</h4>
        <h4 class="m-0">Department Code</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].department_code ? employeeDetail.enterprise_data[0].department_code : '-'}}</h4>
        <h4 class="m-0">Continent</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].continent ? employeeDetail.enterprise_data[0].continent : '-'}}</h4>
        <h4 class="m-0">Country</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].country ? employeeDetail.enterprise_data[0].country : '-'}}</h4>
        <h4 class="m-0">Zone</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].zone ? employeeDetail.enterprise_data[0].zone : '-'}}</h4>
        <h4 class="m-0">Sub Zone </h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].sub_zone ? employeeDetail.enterprise_data[0].sub_zone : '-'}}</h4>
        <h4 class="m-0">State</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].state ? employeeDetail.enterprise_data[0].state : '-'}}</h4>
        <h4 class="m-0">State BU</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].state_bu ? employeeDetail.enterprise_data[0].state_bu : '-'}}</h4>
        <h4 class="m-0">Region </h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].region ? employeeDetail.enterprise_data[0].region : '-'}}</h4>
        <h4 class="m-0">Area</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].area ? employeeDetail.enterprise_data[0].area : '-'}}</h4>
        <h4 class="m-0">Location</h4>
        <h4 class="m-0">{{employeeDetail.location ? employeeDetail.location : '-'}}</h4>
        <!-- <h4 class="m-0">Function</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].function ? employeeDetail.enterprise_data[0].function : '-'}}</h4>
        <h4 class="m-0">Product</h4>
        <h4 class="m-0">{{employeeDetail.enterprise_data.length > 0 && employeeDetail.enterprise_data[0].product ? employeeDetail.enterprise_data[0].product : '-'}}</h4>

        <div *ngIf="employeeDetail && employeeDetail.custom_working_sub_product && employeeDetail.custom_working_sub_product.length != 0" class="w-100">
          <h4 class="m-0">Sub Product</h4>
          <div class="subProdList mt-5">
            <p class="m-0 fnt-15 fnt_w500" *ngFor="let itemSub of employeeDetail.custom_working_sub_product">{{itemSub.sub_product}}</p>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Employee Details -->

    <div *ngIf="employeeDetail">
      <div class="d__flex just-s p-10">
        <h2 class="fnt-15 fnt_w500 m-0">Employee Details</h2>
        <ion-icon (click)="employeeDetail['showEmployeeDetails'] =! employeeDetail['showEmployeeDetails']" [name]="!employeeDetail['showEmployeeDetails'] ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
      </div>
  
      <div class="d__flex detailView p-10" *ngIf="!employeeDetail['showEmployeeDetails']">
        <h4 class="m-0" *ngIf="employeeDetail.custom_same_working_branch">Branch</h4>
        <h4 class="m-0 text-transform-none" *ngIf="employeeDetail.custom_same_working_branch">Your Current Branch</h4>
        <h4 class="m-0">Email</h4>
        <h4 (click)="employeeDetail.personal_email ? social('mail', employeeDetail.personal_email) : null"  class="m-0 text-transform-none">
          <ion-icon [class.opacity]="!employeeDetail.personal_email" class="fnt-25 mouse"  slot="start" src="/assets/img/mail.svg"></ion-icon>
          {{employeeDetail.personal_email ? employeeDetail.personal_email : '-'}}
        </h4>
        <h4 class="m-0">Phone Number</h4>
        <h4 (click)="employeeDetail.cell_number ? social('call', employeeDetail.cell_number) : null" class="m-0">
          <ion-icon [class.opacity]="!employeeDetail.cell_number"  class="fnt-25 mouse" slot="start" src="/assets/img/call.svg"></ion-icon>
          {{employeeDetail.cell_number ? employeeDetail.cell_number : '-'}}
        </h4>
        <h4 class="m-0">What's App</h4>
        <h4 (click)="employeeDetail.cell_number ? social('whatsapp', employeeDetail.cell_number) : null"  class="m-0">
          <ion-icon [class.opacity]="!employeeDetail.cell_number"  class="fnt-25 mouse" slot="start" src="/assets/img/whatsapp.svg"></ion-icon>
          {{employeeDetail.cell_number ? employeeDetail.cell_number : '-'}}
        </h4>
        <h4 class="m-0">Date Of Birth</h4>
        <h4 class="m-0">{{employeeDetail.date_of_birth ? (employeeDetail.date_of_birth | date: 'MMM d, y') : '-'}}</h4>
        <h4 class="m-0">Designation</h4>
        <h4 class="m-0">{{employeeDetail.designation ? employeeDetail.designation : '-'}}</h4>
      </div>
    </div>

  </div> 

</div>