.boxes_ {
  padding: 10px;
  border: 1px solid var(--border-col);
  margin: 0px 0 10px 0;
  border-radius: 7px;
  display: flex;
  align-items: center;
//   flex-direction: column;
  gap: 10px;
  .f5{
    flex: 0 0 5%;
  }
  .f95{
    flex: 0 0 95%;
  }
}

ion-select {
  min-height: 30px;
  font-size: 14px;
}

.overflow_auto {
  overflow-y: auto;
  height: 100vh;
}

ion-checkbox {
  --checkbox-background-checked: var(--primary-color);
  --size: 18px;
}

ion-checkbox::part(container) {
  border: 2px solid var(--primary-color);
}

.save_ {
  bottom: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 5px #ddd;

  .clear_btn {
    width: 40%;
    --background: #fff;
    border: 1px solid var(--border-col);
    color: #000;
  }

  .save_btn {
    width: 55%;
  }
}

.select_all {
    padding: 0 10px;
    padding-top: 10px;
    .s_txt{
        font-size: 14px;
    padding-left: 10px;
    color: #98A2B3;
    }
//   justify-content: end;
//   margin: 10px 10px 0 10px;
//   p {
//     border: 1px solid #ddd;
//     margin: 0;
//     padding: 7px 10px;
//     border-radius: 5px;
//   }
}
