.boxes_ {
    padding: 10px;
    border: 1px solid var(--border-col);
    margin: 0px 0 10px 0;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ion-select {
    min-height: 30px;
    font-size: 14px;
}

.overflow_auto{
    overflow-y: auto;
    height: 100vh;
}

ion-checkbox {
    --checkbox-background-checked: var(--primary-color);
    // margin-left: 10px;
    // height: 100%;
    --size: 13px;
}

ion-checkbox::part(container) {
    border: 2px solid var(--primary-color);
}

.save_ {
    // position: fixed;
    bottom: 0;
    // width: 25%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 5px #ddd;

    .clear_btn {
        width: 40%;
        --background: #fff;
        border: 1px solid var(--border-col);
        color: #000;
    }

    .save_btn {
        width: 55%;
    }
}