<ion-tabs >
  <ion-tab-bar *ngIf="db.show_tabs" >
    <ion-tab-button *ngFor="let item of db.tabs_items;let i = index" [class.second-item]="i == 1" (click)="item.title == 'Add' ? null : close_fab()"
      [class.shop]="item.title == 'Add'" [routerLink]="item.route" [tab]="item.title == 'Add' ? null : item.tab"
      [ngStyle]= "db.set_primary_color(db.sales_dashboard)">
      <ion-icon *ngIf="item.title != 'Add'" class="icon"
        [src]="db.path == item.route ? item.active_icon : item.icon"></ion-icon>
      <ion-label *ngIf="item.title != 'Add'" class="fnt-12"
        [class.active]="db.path == item.route">{{item.title}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
  <ion-backdrop *ngIf="db.hasClass1" (ionBackdropTap)="fab()"></ion-backdrop>

  <ion-fab *ngIf="db.centerFabShow && db.show_tabs && db.ismobile" class="ion-fab_home" slot="fixed" horizontal="center" vertical="bottom" #fablist [ngStyle]= "db.set_primary_color(db.sales_dashboard)">
    <ion-fab-button class="ion-fab-button_" (click)="enabled_fab()" id="fab-list">
      <ion-icon class="added" name="add"></ion-icon>
    </ion-fab-button>
    <!-- HR manager -->
    <ion-fab-list side="top" *ngIf="db.hr_manager_role || db.employee_role">
      <div class="fab_div">
        <div *ngFor="let item of hrEmployeePopUp" (click)="test_navigate1(item.route)" class="sec">
          <ion-fab-button class="fab-1">
            <ion-icon class="icon_1" [src]="item.icon"></ion-icon>
          </ion-fab-button>
          <h6 class="m-0 title">{{item.label}}</h6>
        </div>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-tabs>