<!-- Mobile Options -->

<div class="mobile-opts">
    <div class="mobile-option">
        <div class="option" (click)="change_view()">
            <ion-icon [name]="(db.product_box.view != 'Grid View') ? 'apps-sharp' : 'list-outline'"></ion-icon>
            <ion-label>{{ (db.product_box.view == 'Grid View') ? 'List':'Grid'}}</ion-label>
        </div>
        <div class="option" (click)="select_sort('sort')">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <ion-label>Sort</ion-label>
        </div>
    </div>
</div>