<app-header [title]="'Leave Withdrawal'" [showYear]="false" [model]="true"></app-header>

<div *ngIf="leave_withdraw">
    <div class="employeeDetail-s">
        <div *ngIf="leave_withdraw" class="employeeDetail">
            <div class="d__flex gap-10 just-s employeeDetails">
                <img class="blue" src="/assets/timesheet/blue.svg" />
                <img class="yellow" src="/assets/timesheet/yellow.svg" />
                <div class="d__flex m-0 details w-100">
                    <div class="imageDiv">
                        <img *ngIf="leave_withdraw.image" [src]="db.product_img(leave_withdraw.image)" />
                        <h4 *ngIf="!leave_withdraw.image" class="m-0 fnt-15 fnt_w500">
                            {{leave_withdraw?.employee_name[0]}}</h4>
                    </div>
                    <div class="w-100">
                        <h4 class="fnt-14 fnt_w500 m-0 name webkit-text capitalize" [style.--line]="1">
                            {{leave_withdraw?.employee_name}}</h4>
                        <div class="d__flex title just-s w-100">
                            <h4 *ngIf="leave_withdraw.name" class="fnt-12 fnt_w400 m-0 id gray_clr">
                                {{leave_withdraw?.name}}</h4>
                            <app-status [status]="leave_withdraw.status"></app-status>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bodyScrollable" [class.fullHeight]="!checkBottomBtn()">
        <div class="p-10 leavePreview" *ngIf="leave_withdraw.leave_preview && leave_withdraw.leave_preview.length != 0">
            <label for="reason" class="pb-10 fnt-14 fnt_w600">List of Leave Application</label>
            <div *ngFor="let item of leave_withdraw.leave_preview; let i = index" class="boxes_">
                <div class="d__flex just-s">
                    <div class="d__flex gap-5">
                        <p class="m-0 fnt-14 d__flex gap-5"><ion-icon class="gray_clr" name="calendar-outline"></ion-icon> {{item.from_date | date: 'MMM d, y'}} </p>
                    </div>
                    <div class="d__flex">
                        <app-status [status]="item.status"></app-status>
                    </div>
                </div>
                <div class="d__flex just-s">
                    <p class="m-0 fnt-14 d__flex gap-5"><span class="gray_clr">Days: </span> {{item.total_leave_days}}</p>
                    <p class="m-0 fnt-14 d__flex gap-5">{{item.leave_type}}</p>
                </div>
            </div>
        </div>
    
        <div class="p-10 leavePreview" *ngIf="leave_withdraw.leave_withdraw_date && leave_withdraw.leave_withdraw_date.length != 0">
            <label for="reason" class="pb-10 fnt-14 fnt_w600">Leave Withdraw Approved Application List</label>
            <div *ngFor="let item of leave_withdraw.leave_withdraw_date; let i = index" class="boxes_">
                <div class="d__flex just-s">
                    <div class="d__flex gap-5">
                        <div (click)="eventPropagation($event)" class="checkBox" *ngIf="leave_withdraw.docstatus == 0 && db.check_role('L1 Manager','')">
                            <ion-checkbox [checked]="item['isChecked']" (ionChange)="addLeaveWithdrawal($event, item)"></ion-checkbox>
                        </div>
                        <p class="m-0 fnt-14 d__flex gap-5"><ion-icon class="gray_clr" name="calendar-outline"></ion-icon> {{item.from_date | date: 'MMM d, y'}} </p>
                    </div>
                    <div class="d__flex">
                        <app-status [status]="item.status"></app-status>
                    </div>
                </div>
                <div class="d__flex just-s">
                    <p class="m-0 fnt-14 d__flex gap-5"><span class="gray_clr">Days: </span> {{item.total_leave_days}}</p>
                    <p class="m-0 fnt-14 d__flex gap-5">{{item.leave_type}}</p>
                </div>
            </div>
        </div>
    
        <div class="p-10 leavePreview" *ngIf="leave_withdraw.leave_withdraw_open_application_list && leave_withdraw.leave_withdraw_open_application_list.length != 0">
            <label for="reason" class="pb-10 fnt-14 fnt_w600">Leave Withdraw Open Application List</label>
            <div *ngFor="let item of leave_withdraw.leave_withdraw_open_application_list; let i = index" class="boxes_">
                <div class="d__flex just-s">
                    <div class="d__flex gap-5">
                        <p class="m-0 fnt-14 d__flex gap-5"><ion-icon class="gray_clr" name="calendar-outline"></ion-icon> {{item.from_date | date: 'MMM d, y'}} </p>
                    </div>
                    <div class="d__flex">
                        <app-status [status]="item.status"></app-status>
                    </div>
                </div>
                <div class="d__flex just-s">
                    <p class="m-0 fnt-14 d__flex gap-5"><span class="gray_clr">Days: </span> {{item.total_leave_days}}</p>
                    <p class="m-0 fnt-14 d__flex gap-5">{{item.leave_type}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="d__flex gap-10 p-1015 btnSec p-10" *ngIf="checkBottomBtn() && leave_withdraw.docstatus == 0 && db.check_role('L1 Manager','')">
        <div class="btn1 d__flex mouse" (click)="submitWithdrawal_reject('Rejected')"><ion-icon name="close-outline" alt=""></ion-icon><span class="fnt-12 m-0">Reject</span></div>
        <div class="btn2 d__flex mouse" (click)="submitWithdrawal('Approved','')"><ion-icon name="checkmark-outline" alt=""></ion-icon><span class="fnt-12 m-0">Approve</span></div>
    </div>

</div>