<app-header title="Job Referral" [back_route]="'/tabs/dashboard'" [model]="false"></app-header>

<ion-content [fullscreen]="true">
  <div class="p-10">
    <div *ngIf="jobReferralList && jobReferralList.length != 0" class="referral_list">
      <div *ngFor="let item of jobReferralList" class="boxes_" (click)="getReferralDetail(item)">
        <div class="sec1">
          <div class="d__flex just-s mb-10">
            <p class="m-0 fnt-13 fnt_w400 webkit-text" [style.--line]="1">{{item.job_title ? item.job_title.replace('-', '') : ''}}</p>
            <ion-icon class="fnt-18 flex-auto" src="/assets/job-referral/send.svg"></ion-icon>
          </div>
          <div class="d__flex just-s mb-10">
            <p class="m-0 fnt-14 fnt_w600 webkit-text" [style.--line]="1">{{item.designation ? item.designation.replace('-', '') : ''}}</p>
            <ion-icon class="fnt-18 flex-auto" src="/assets/job-referral/save.svg"></ion-icon>
          </div>
          <div class="d__flex just-s mb-10">
            <p class="m-0 fnt-13 fnt_w400 gray_clr webkit-text" [style.--line]="1">{{item.description ? changeDescription(item.description) : ''}}</p>
            <p class="m-0 fnt-13 fnt_w400 gray_clr flex-auto">{{item.posted_on ? getBeforeDays(item.posted_on) : ''}}</p>
          </div>
        </div>
        <div class="sec2">
          <div class="mb-10">
            <p class="m-0 fnt-14 fnt_w400 d__flex gap-5"><ion-icon class="fnt-18" src="/assets/job-referral/cash.svg"></ion-icon> {{item.currency}} {{item.lower_range}} - {{item.upper_range}} / {{item.salary_per}}</p>
          </div>
          <div *ngIf="item.job_requisition && item.job_requisition.length != 0" class="d__flex just-s">
            <p class="m-0 fnt-13 gray_clr fnt_w400 d__flex gap-5"><ion-icon class="fnt-18" src="/assets/job-referral/experience.svg"></ion-icon> {{item.job_requisition[0].custom_years_of_experience}} yrs exp</p>
            <p class="m-0 fnt-13 gray_clr fnt_w400 d__flex gap-5 flex-auto"><ion-icon class="fnt-18" src="/assets/job-referral/map.svg"></ion-icon> {{item.job_requisition[0].custom_location}} / {{item.job_requisition[0].custom_employee_type}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="normalSketon" *ngIf="skeleton">
      <div class="divF d__flex gap-5 just-s" *ngFor="let val of [1,2,3,4,5,6,7,8,9,10,11,1,1,1,1]">
        <div class="b-1">
            <ion-skeleton-text [animated]="true" style="width:90%;height:18px;margin:0 0 8px 0;border-radius: 5px;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width:70%;height:16px;border-radius: 5px;"></ion-skeleton-text>
        </div>
  
        <div class="b-2">
          <ion-skeleton-text [animated]="true" style="width: 65%;height:18px;margin:0 0 8px 0;border-radius: 5px;"></ion-skeleton-text>
          <ion-skeleton-text [animated]="true" style="width:45%;height:16px;border-radius: 5px;"></ion-skeleton-text>
        </div>
  
       </div>
    </div>
  
    <app-no-record-found [height]="'calc(100vh - 90px)'"
      *ngIf="!skeleton && jobReferralList && jobReferralList.length == 0" [column]="true"
      [heading]="'No record found'" [image]="'assets/icon/empty.svg'"></app-no-record-found>

  </div>
</ion-content>
