<app-header title="Buyback Calculator" [showYear]="false" [model]="false"></app-header>

<ion-content [fullscreen]="true">
  <div class="p-10">
    <form [formGroup]="buyback_form">
      <div class="pb-10">
        <p class="title">Asset Type</p>
        <div class="custom-input">
          <ion-select interface="popover" placeholder="Asset Type" formControlName="asset_type" name="asset_type" (ionChange)="onassettypeChange($event)">
            <ion-select-option *ngFor="let assets of assetsType" [value]="assets.name">{{assets.name}}</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="pb-10">
        <p class="title">Asset</p>
        <div class="custom-input">
          <ion-select interface="popover" placeholder="Asset" formControlName="asset" name="asset" (ionChange)="onassetChange($event,'')">
            <ion-select-option *ngFor="let ass of assets_list" [value]="ass.name">{{ass.name}}</ion-select-option>
          </ion-select>
          <!-- <ion-input type="text"
            placeholder="Asset" (click)="open_dropdown1()" name="asset" formControlName="asset"
            class="form-input"></ion-input> -->
        </div>
      </div>

      <div *ngIf="buyback_form.value.asset_type == 'Vehicle'" class="pb-10">
        <p class="title">Vehicle Registration No</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Vehicle Registration No" formControlName="vehicle_registration_no" name="vehicle_registration_no"></ion-input>
        </div>
      </div>
      <div *ngIf="buyback_form.value.asset_type == 'Mobile'" class="pb-10">
        <p class="title">Baz Ticket No</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Baz Ticket No" formControlName="baz_ticket_no" name="baz_ticket_no"></ion-input>
        </div>
      </div>

      <div class="section2">

        <div class="pb-10">
          <p class="title">Date Of Purchase</p>
          <app-custom-calendar format="Date" [selectedDate]="buyback_form.value.date_of_purchase" (onChange)="datePickerChange('date_of_purchase',$event)"></app-custom-calendar>
        </div>
  
        <div class="pb-10">
          <p class="title">Buyback Date</p>
          <app-custom-calendar format="Date" [selectedDate]="buyback_form.value.buyback_date" (onChange)="datePickerChange('buyback_date',$event)"></app-custom-calendar>
        </div>

      </div>

      
      <div class="pb-10">
        <p class="title">Ex Showroom Cost</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Ex Showroom Cost" formControlName="ex_showroom_cost" name="ex_showroom_cost"></ion-input>
        </div>
      </div>

      <div class="pb-10">
        <p class="title">Road Tax and Registration Charges</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Road Tax and Registration Charges" formControlName="road_tax_and_registration_charges" name="road_tax_and_registration_charges"></ion-input>
        </div>
      </div>

      <div class="pb-10">
        <p class="title">Total Capitalized Value</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Total Capitalized Value" formControlName="total_capitalized_value" name="total_capitalized_value"></ion-input>
        </div>
      </div>
      <div class="pb-10" *ngIf="buyback_form.value.life_of_the_car">
        <p class="title">Life Of The Asset</p>
        <div class="custom-input">
          <ion-input type="text" [disabled]="true" placeholder="Life Of The Asset" formControlName="life_of_the_car" name="life_of_the_car"></ion-input>
        </div>
      </div>

      <h5 class="fnt-15 fnt_w500 mb-10 m-0">Buyback Rate</h5>
      <div *ngIf="rates && rates.length != 0" class="year_calculator mb-10">
        <div *ngFor="let item of rates" class="boxes__">
          <div class="d__flex just-s">
            <p *ngIf="item.year" class="m-0 fnt-14"><span class="gray_clr fnt-12">Year : </span>{{item.year}}</p>
            <p *ngIf="item.month" class="m-0 fnt-14"><span class="gray_clr fnt-12">Month : </span>{{item.month}}</p>
            <p class="m-0 fnt-14"><span class="gray_clr fnt-12">Ratio: </span>{{item.ratio}}</p>
          </div>
        </div>
      </div>
      <div class="section2">
        <div *ngIf="buyback_form.value.year0" class="pb-10">
          <p class="title">Year0</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Year0" formControlName="year0" name="year0"></ion-input>
          </div>
        </div>
        <div *ngIf="buyback_form.value.year1" class="pb-10">
          <p class="title">Year1</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Year1" formControlName="year1" name="year1"></ion-input>
          </div>
        </div>
  
        <div *ngIf="buyback_form.value.year2" class="pb-10">
          <p class="title">Year2</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Year2" formControlName="year2" name="year2"></ion-input>
          </div>
        </div>
  
        <div *ngIf="buyback_form.value.year3" class="pb-10">
          <p class="title">Year3</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Year3" formControlName="year3" name="year3"></ion-input>
          </div>
        </div>
  
        <div *ngIf="buyback_form.value.year4" class="pb-10">
          <p class="title">Year4</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Year4" formControlName="year4" name="year4"></ion-input>
          </div>
        </div>
        <div *ngIf="buyback_form.value.perk_tax" class="pb-10">
          <p class="title">Perk Tax</p>
          <div class="custom-input">
            <ion-input type="number" [disabled]="true" placeholder="Perk Tax" formControlName="perk_tax" name="perk_tax"></ion-input>
          </div>
        </div>

      </div>

      

      <div *ngIf="yearCalculator && yearCalculator.length != 0" class="year_calculator mb-10">
        <div *ngFor="let item of yearCalculator" class="boxes__">
          <div class="d__flex just-s">
            <p class="m-0 fnt-14"><span class="gray_clr fnt-12">Year : </span>{{item.index}}</p>
            <!-- | currency: (db.default_values && db.default_values.default_currency) ? db.default_values.default_currency : 'INR' -->
            <p class="m-0 fnt-14"><span class="gray_clr fnt-12">Value of the Car: </span>₹ {{item.value}}</p>
          </div>
          <div >
            <p class="m-0 fnt-14"><span class="gray_clr fnt-12">Depreciation : </span>₹ {{item.depreciation}}</p>
            <p class="m-0 fnt-14"><span class="gray_clr fnt-12">WDV : </span>₹ {{item.wdv}}</p>
          </div>
        </div>
      </div>

      <div class="section2">

        <div class="pb-10">
          <p class="title">Buyback Amount</p>
          <div class="custom-input">
            <ion-input type="text" placeholder="Buyback Amount" formControlName="buyback_amount" name="buyback_amount"></ion-input>
          </div>
        </div>

        <div class="pb-10">
          <p class="title">Perk Amount</p>
          <div class="custom-input">
            <ion-input type="text" placeholder="Perk Amount" formControlName="perk_amount" name="perk_amount"></ion-input>
          </div>
        </div>

      </div>

      <div class="section2">

        <div class="pb-10">
          <p class="title">GST Amount</p>
          <div class="custom-input">
            <ion-input type="text" placeholder="GST Amount" formControlName="gst_amount" name="gst_amount"></ion-input>
          </div>
        </div>

        <div class="pb-10">
          <p class="title">Tax On Perk Amount</p>
          <div class="custom-input">
            <ion-input type="text" placeholder="Tax On Perk Amount" formControlName="tax_on_perk_amount" name="tax_on_perk_amount"></ion-input>
          </div>
        </div>

      </div>
      
      <div class="pb-10">
        <p class="title">Amount Payable To Company</p>
        <div class="custom-input">
          <ion-input type="text" placeholder="Amount Payable To Company" formControlName="amount_payable_to_company" name="amount_payable_to_company"></ion-input>
        </div>
      </div>

    </form>

  </div>
  <!-- <div class="submit-btn">
    <ion-button (click)="submit()" fill="clear">Save</ion-button>
  </div> -->
</ion-content>
