.report_list {
    h5 {
        padding: 15px;
        margin: 0px;
        border-bottom: 1px solid var(--border-col);
    }
}

.attendance_title {
    height: 45px;
    ion-icon{
        padding: 5px;
        background: #d9edff;
        border-radius: 5px;
    }
}