.box_sec {
    padding: 0 10px;
    height: 92%;
    // height: 100vh;
    // height: calc(100vh - 129px);
    // margin-top: 15px;
    overflow: auto;
  
    .boxs {
      align-items: center;
      border: 1px solid var(--border-col);
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      justify-content: space-between;
  
      .name_ {
        font-size: 13px;
        font-weight: 500;
        color: var(--gray-color);
        width: 300px;
        span{
            font-size: 13px;
        font-weight: 500;
        color: var(--gray-color);
        }
      }
  
      ion-icon {
        font-size: 18px;
        color: var(--gray-color);
      }
    }
  
    // Hover colors
    .boxs:hover,
    .active {
  
      border: 1px solid var(--primary-bg);
  
      .name_ {
        color: var(--primary-bg);
      }
  
      ion-icon {
        color: var(--primary-bg);
      }
    }
  
  }

  .emp_box{
    margin-top: 200px;
    gap: 10px;
        .image{
            width: 80px;
            height: 80px;
            // background: var(--primary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
             height: 55px;
            }
            ion-icon{
                font-size: 30px;
                color: #fff;
            }
        }
        .lead_image{
            // width: 50px;
            // height: 50px;
            // background: var(--primary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .img{
             height: 80px;
             width: 80px;
            }
            ion-icon{
                font-size: 30px;
                color: #fff;
            }
        }
    }

    .column{
      flex-direction: column;
  }