.box_sec {
    padding: 0 10px;
    height: 100%;
    // height: 100vh;
    // height: calc(100vh - 129px);
    // margin-top: 15px;
    overflow: auto;
  
    .boxs {
      align-items: center;
      border: 1px solid var(--border-col);
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      justify-content: space-between;
  
      .name_ {
        font-size: 13px;
        font-weight: 500;
        color: var(--gray-color);
        width: 300px;
        span{
            font-size: 13px;
        font-weight: 500;
        color: var(--gray-color);
        }
      }
  
      ion-icon {
        font-size: 18px;
        color: var(--gray-color);
      }
    }
  
    // Hover colors
    .boxs:hover,
    .active {
  
      border: 1px solid var(--primary-bg);
  
      .name_ {
        color: var(--primary-bg);
      }
  
      ion-icon {
        color: var(--primary-bg);
      }
    }
  
  }