<div *ngIf="!db.ismobile" class="forms__">
  <div class="d__flex gap-10 mar-0-10">
    <ion-icon class="mouse" (click)="backbtn()" name="chevron-back-outline"></ion-icon>
    <p class="fnt_w500 fnt-14 white">{{page_title}}</p>
  </div>
</div>

<div *ngIf="edit_form_values">
  <app-new-wizard-form [modal]="modal" [forms_route]="page_route" [reference_id]="sale_order_id"
    [sale_order_id]="sale_order_id ? sale_order_id : undefined" [tabs_top]="1" [edit_form]="1"
    [enabled_read_only]="enabled_read_only" [edit_form_values]="edit_form_values" [enable_leadcomment]="false"
    [enable_activities]="false" [edit_new_form]="true" [add_new_form]="true" [enable_height]="enable_height" [web_forms]="web_form"></app-new-wizard-form>
</div>