ion-content{
    --background: #f7f7f7;
}
.footer {
    position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
    z-index: 99;
    box-shadow: -1px -1px 3px 0px #888888;
    ion-button {
        // width: 90%;
        // margin: auto;
        height: 40px;
        --color: var(--white);
        margin: 0 10px;
    }
}

.attendance{
    
    padding: 10px;
    margin: 10px;
    border: 1px solid #dddd;
    border-radius: 8px;
    background: #fff;
    .all_list{
        flex-wrap: wrap;
        div{
            flex: 0 0 50%;
            padding: 10px 0;
        }
    }
}