<app-header *ngIf="db.ismobile && db.sales_dashboard" title="Dashboard" [home]="true"></app-header>

<ion-content *ngIf="db.employee_role && db.ismobile">
  <div>
    <div class="placesLocation">
      <div class="profile_rel_hr profile_emp">
        <div class="profile_">
          <div class="gap-10">
            <div class="d__flex gap-5 mb-5">
              <img src="/assets/icon/blue-tick.svg" alt="">
              <p class="m-0 profile_name">{{greeting}}</p>
            </div>
            <div class="d__flex gap-5 mb-5">
              <p class="m-0 profile_role">Welcome back to your work!</p>
            </div>
          </div>
        </div>
        <img class="emp_link_icon" src="/assets/Employee-Home/dashboardheaderimage.svg" alt="">
      </div>
        <div class="bottom_segment">
        </div>
        <div class="employeeDetails">
          <div class="d__flex gap-10 p-10-0">
            <div class="imageDiv">
              <img class="profile_user_img" [src]="(db.employee_img && db.employee_img.user_image) ? db.product_img(db.employee_img.user_image) : '/assets/icon/profile-owner.svg'">
            </div>
            <div style="flex: 0 0 calc(80% - 10px);">
              <div class="d__flex just-s mb-5">
                <p class="m-0 bold_name-13 webkit-text flex-60 capitalize" [style.--line]="1">{{db.cust_name}}</p>
                <p class="m-0 fnt-12 text-e">{{formattedDate}}</p>
              </div>
              <p class="m-0 fnt-12 d__flex gap-5 mb-5 h18"><ion-icon class="fnt-18" src="/assets/Employee-Home/designation.svg"></ion-icon><span *ngIf="db.cust_designation != 'null'"> {{db.cust_designation ? db.cust_designation : '-'}}</span></p>  
              <p *ngIf="db.employee_img && db.employee_img.grade_name" class="m-0 d__flex gap-10 gray_clr"><ion-icon class="fnt-16" src="/assets/Voluntary-Pf/Medal.svg"></ion-icon> <span class="fnt-11"> {{db.employee_img ? db.employee_img.grade_name : '-'}}</span></p> 
              <!-- + ' - ' + db.employee_img.band_name -->
              <p *ngIf="db.employee_img && db.employee_img.company" class="m-0 h-30 d__flex gap-10 gray_clr"><ion-icon class="fnt-18 f-0-18" src="/assets/company.svg"></ion-icon> <span class="fnt-11"> {{db.employee_img ? db.employee_img.company : '-'}}</span></p> 
            </div>
          </div>
          <div class="checkInButton mouse">
            <ion-icon class="fnt-20 checkInHand" src="/assets/Employee-Home/to-do-notes.svg"></ion-icon>
            <ion-button *ngIf="!db.is_Attendance" class="checkin_btn" fill="clear" (click)="check_In('IN')"><ion-icon class="fnt-20 mr-5" src="/assets/Employee-Home/timer.svg"></ion-icon><span class="white fnt-12" >{{db.checkInOutTime ? (db.checkInOutTime + ' - Click to Punch In') : 'Click to Punch In'}}</span></ion-button>
            <ion-button *ngIf="db.is_Attendance" class="checkout_btn" fill="clear" [disabled]="true"><ion-icon class="fnt-20 mr-5" src="/assets/Employee-Home/timer.svg"></ion-icon><span class="white fnt-12" >{{db.checkInOutDetail}}</span></ion-button>
          </div>
        </div>
    </div>
  
    <div class="businessSummary b-t-5">
      <div class="d__flex just-s w-100 mb-10">
        <h5 class="m-0 fnt-14">Quick Links</h5>
        <ion-icon class="fnt-20" (click)="editQuick()" src="/assets/Employee-Home/more.svg"></ion-icon>
      </div>
      <div class="buttonsSection">
        <div class="d__flex buttons_ mouse" *ngFor="let data of db.dashboard_values" (click)="db.doctype_select(data.page)"
          [routerLink]="data.route ? data.route : null">
          <ion-icon [src]="db.get_home_icon(data.page)"></ion-icon>
          <h6 class="h-6 webkit-text" [style.--line]="2">{{data.page_name}}</h6>
        </div>
      </div>
    </div>
  
    <div class="leaveBalance b-t-5" *ngIf="ess_dashboard_data && ess_dashboard_data.leave_balance && ess_dashboard_data.leave_balance.length != 0" >
      <div class="d__flex just-s w-100 mb-10">
        <h5 class="m-0 fnt-14">Leave Balance</h5>
        <ion-icon class="fnt-20" *ngIf="false" src="/assets/Employee-Home/more.svg"></ion-icon>
      </div>
      <div class="attendance_dashboard">
        <div *ngFor="let item of ess_dashboard_data.leave_balance;let i = index" class="over_flow">
          <div class="w-100 d__flex just-s first_sec mb-5" [routerLink]="'/leave-application-detail/' + db.employee_id">
            <ion-icon [src]="get_leaves_icon(item.label)" class="fnt-30"></ion-icon>
            <p  class="m-0 fnt-14 fnt_w600">{{item.count | number}}</p>
          </div>
          <p class="m-0 fnt-12 fnt_w500 label black_color">{{item.label.replaceAll('Leaves', ' ')}}</p>
        </div>
      </div>
    </div>

    <!-- Wishes Component -->
    <div class="wishes-section b-t-5">
      <app-wishes></app-wishes>
    </div>

    <div class="salarySlip"  *ngIf="ess_dashboard_data && ess_dashboard_data.salary_slip && ess_dashboard_data.salary_slip.name && false">
      <div class="d__flex just-s w-100 mb-20">
        <h5 class="m-0 fnt-16">Salary Slip</h5>
        <p class="m-0 fnt-12" routerLink="/list/salary-slip">Show More</p>
      </div>
      <div (click)="open_salary_slip(ess_dashboard_data.salary_slip.name)">
        <div class="SalaryList">
          <div class="d__flex just-s mb-10">
            <div class="d__flex gap-5"><span class="fnt-13 m-0">{{ess_dashboard_data.salary_slip.creation | date: "MMMM "}}</span>
              <div class="dot dot-2"></div>
              <h6 class="m-0 fnt-13 webkit-text" [style.--line]=2>{{ess_dashboard_data.salary_slip.creation | date: 'M-d-yy'}}</h6>
            </div>
            <app-status [status]="ess_dashboard_data.salary_slip.status"></app-status>
          </div>
          <div class="d__flex gap-10 just-s pb-5">
            <p class="m-0 d__flex gap-5"><span class="m-0 text_2 fnt-13">{{ess_dashboard_data.salary_slip.name}}</span></p>
            <p class="m-0 flex-auto bold_name-13 inter_">{{ ess_dashboard_data.salary_slip.net_pay ? ( ess_dashboard_data.salary_slip.net_pay |
              currency:db.website_settings.currency) : 0 }}</p>
          </div>
          <div class="d__flex gap-10 just-s pb-5">
            <div class="flex-auto">
              <p class="m-0 fnt-12 fnt_w500 gray_clr mt-5 inter_"><span style="color: #E21B22;">- </span>{{(ess_dashboard_data.salary_slip.total_deduction ?
                ess_dashboard_data.salary_slip.total_deduction : 0) | currency:db.website_settings.currency}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="attendanceSummary b-t-5">
      <div class="d__flex just-s w-100 mb-10">
        <h5 class="m-0 fnt-14">Attendance</h5>
        <ion-icon class="fnt-20" *ngIf="false" src="/assets/Employee-Home/more.svg"></ion-icon>
      </div>
      <div class="calendar_att">
        <app-month-calendar [highlightedDates]="highlightedDates" (onChange)="getCalendarDate($event)" ></app-month-calendar>
      </div>
    </div>
  </div>

</ion-content>

<ion-content *ngIf="db.hr_manager_role && db.ismobile">
  
  <div *ngIf="db.ismobile">
    <div class="profile_rel_hr">
      <div class="profile_">
        <div class="d__flex gap-10">
          <div class="imageDiv">
            <img class="profile_user_img" [src]="(db.employee_img && db.employee_img.user_image) ? db.product_img(db.employee_img.user_image) : '/assets/icon/profile-owner.svg'">
          </div>
          <div>
            <div class="d__flex gap-5 mb-5" *ngIf="db.cust_name">
              <p class="m-0 profile_name">{{db.cust_name}}</p>
            </div>
            <div class="d__flex gap-5 mb-5" *ngIf="db.cust_designation && db.cust_designation != 'null'">
              <img class="work_img" src="/assets/icon/work-1-white.svg" alt="">
              <p class="m-0 profile_role">{{db.cust_designation}}</p>
            </div>
            <img class="hr_link_icon" src="/assets/Employee-Home/dashboardheaderimage.svg" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="hr_sec">
      <div class="d__flex gap-5 mb-10 p-10-10-0-10">
        <img src="/assets/home-genie/hi.svg" alt="">
        <p class="m-0 fnt-12 fnt_w500">Welcome Back To Work!</p>
      </div>
      <div *ngIf="false" class="attendanceStatus">
        <img src="/assets/HR-Home/attendance-guide.svg" alt="">
        <div class="attendanceCount" *ngIf="db.hr_dashboard_data && db.hr_dashboard_data.attendance_details && db.hr_dashboard_data.attendance_details.length != 0">
          <div *ngFor="let item of db.hr_dashboard_data.attendance_details" class="border-r">
            <p class="m-0 fnt-14 fnt_w400 text-c gray_clr">{{item.label}}</p>
            <p class="m-0 fnt_w500 fnt-15 text-c" [ngStyle]="{'color': getStatusColor(item.label)}">{{item.count}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="false" class="viewAttendance mouse" routerLink="/list/attendance">
        <p>View Attendance</p>
      </div>

      <div class="hrOverview p-0-10">
        <div class="attendanceEntries" *ngIf="db.hr_dashboard_data && db.hr_dashboard_data.dashboard_details && db.hr_dashboard_data.dashboard_details.length != 0">
          <div (click)="routeToSpecificPage(item)" class="box_1" *ngFor="let item of db.hr_dashboard_data.dashboard_details; let i = index">
            <div>
              <p class="m-0 fnt-12">{{item.label}}</p>
              <div class="d__flex just-s">
                <p class="m-0 fnt-18 fnt_w500">{{item.count}}</p>
                <ion-icon class="fnt-50" [src]="attendanceEntry[i]"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="businessSummaryHr b-t-5">
        <div class="d__flex just-s w-100 p-0-10 m-10-0 ">
          <h5 class="m-0 fnt-14">Quick Links</h5>
          <ion-icon class="fnt-20" (click)="editQuick()" src="/assets/Employee-Home/more.svg"></ion-icon>
        </div>
        <div class="buttonsSection p-0-10">
          <div class="d__flex buttons_ mouse" *ngFor="let data of db.dashboard_values" (click)="db.doctype_select(data.page)" [routerLink]="data.route ? data.route : null">
            <ion-icon [src]="db.get_home_icon(data.page)"></ion-icon>
            <!-- <img [src]="db.get_home_icon(data.page)"> -->
            <h6 class="h-6 webkit-text" [style.--line]="2">{{data.page_name}}</h6>
          </div>
        </div>
      </div>

      <div class="attendanceComparisonChart b-t-5">
        <div class="d__flex just-s w-100 m-10-0">
          <h5 class="m-0 fnt-14">Attendance Trends</h5>
          <ion-icon class="fnt-20" *ngIf="false" src="/assets/Employee-Home/more.svg"></ion-icon>
        </div>
        <div class="apexChart" *ngIf="chartObject">
          <div class="bg_primary__">
            <div *ngFor="let item of apexChartType; let i = index" [class.isSelectedChart]="item['isSelected']" (click)="selectApex(item,i)">
              <p class="m-0">{{item.name}}</p>
            </div>
          </div> 
          <div class="chartView">
            <app-apex-chart-dashboard [currentChartValue]="currentChartValue" [hover_name]="'Attendance'" [chart_value]="chartObject"></app-apex-chart-dashboard>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>

<ion-content *ngIf="db.ismobile && db.sales_manager_role">
  <div>
    <div class="profile_rel">
      <div class="profile_">
        <div class="d__flex gap-10">
          <img class="profile_user_img" [src]="(db.employee_img && db.employee_img.user_image) ? db.product_img(db.employee_img.user_image) : '/assets/icon/profile-owner.svg'">
          <div>
            <div class="d__flex gap-5" *ngIf="db.cust_name">
              <p class="m-0 profile_name">{{db.cust_name}}</p>
              <img src="/assets/icon/blue-tick.svg" alt="">
            </div>
            <p [class.header_txt_clr]="(db.currentRole == 'HR' || db.currentRole == 'Vendor')" class="m-0 profile_mail mbt-3" *ngIf="db.cust_email">{{db.cust_email}}</p>
            <div class="d__flex gap-5" *ngIf="db.cust_role">
              <img src="/assets/icon/work-1.svg" alt="">
              <p class="m-0 profile_role">{{db.sales_manager_role ? 'Sales Manager' : db.cust_role}}</p>
            </div>
          </div>
        </div>
        <div class="d__flex gap-5 p-10">
          <img src="/assets/home-genie/hi.svg" alt="">
          <p class="m-0 fnt_w500"><span class="fnt-13 fnt_w500" style="color: #5461FF;"> HI, Welcome</span><span class="fnt-13 fnt_w500"> Back To Work!</span></p>
        </div>
      </div>
      <img class="link_icon" src="/assets/icon/link-header.png" alt="">
    </div>

    <div *ngIf="!new_dashboard_values">
      <div class="w-100 just-s d__flex p-10">
        <ion-skeleton-text [animated]="true" style="width:70%;height:35px;border-radius:5px"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width:20%;height:35px;border-radius:5px"></ion-skeleton-text>
      </div>
  
      <div class="p-10">
        <ion-skeleton-text [animated]="true" style="width:40%;height:20px;border-radius:5px"></ion-skeleton-text>
        <div class="d__flex gap-10">
          <ion-skeleton-text *ngFor="let item of [1,2,3,4]" [animated]="true" style="width:400px;height:90px;border-radius:5px;flex: 0 0 calc(50% - 10px);"></ion-skeleton-text>
        </div>
      </div>
  
      <div class="p-10">
        <ion-skeleton-text [animated]="true" style="width:40%;height:20px;border-radius:5px"></ion-skeleton-text>
        <div class="d__flex just-s just-s gap-10 w-100">
          <ion-skeleton-text [animated]="true" style="width:100%;height:120px;border-radius:5px"></ion-skeleton-text>
        </div>
      </div>
  
      <div class="p-10">
        <ion-skeleton-text [animated]="true" style="width:40%;height:20px;border-radius:5px"></ion-skeleton-text>
        <div class="d__flex just-s just-s gap-10 w-100">
          <ion-skeleton-text *ngFor="let item of [1,2,3,4]" [animated]="true" style="width:30%;height:60px;border-radius:5px"></ion-skeleton-text>
        </div>
      </div>
    </div>
  
    <div class="business_summary" *ngIf="new_dashboard_values">
      <p class="m-0 fnt-16 fnt_w600">Quick Links</p>
      <div class="gridBox">
        <div *ngFor="let item of db.permission_details" class="boxes_" routerLink="{{item.route}}">
          <p class="m-0 gray_clr fnt-13 fnt_w500 mt-5">{{item.page_name}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
