@media only screen and (max-width: 768px) {
  #chart {
    // max-width: 650px;
    overflow-x: scroll;
    overflow-y: hidden;
    // margin: 35px auto;
  }
}

.dashBoardChart{
  margin: -12px -12px -8px -8px;
  overflow: auto;
  width: 100%;

  &::-webkit-scrollbar{
    display: none;
  }
}