<app-header *ngIf="!modalView && db.ismobile" [title]="image.replace('/files/', '')" model="true"></app-header>

<ion-content >

  <div *ngIf="modalView" class="d__flex gap-10 popUpheadercss">
    <ion-icon class="mouse" (click)="db.close_modal()" name="chevron-back-outline"></ion-icon>
    <p class="fnt_w500 fnt-14 white"></p>
  </div>

  <!-- <ion-fab slot="fixed" vertical="bottom" class="fab" horizontal="end" >
    <ion-fab-button (click)="downloadpdf(image)" >
      <ion-icon class="add_icon" name="download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  
  <!-- <iframe id="iframe" name="frame" width="100%" height="100%" src="https://erp14test.tridotstech.com//files/Test powerpoint file - sampledocs.ppt" frameborder="0"></iframe> -->
  <iframe id="iframe" name="frame" [src]="sanitize_url(image)" width="100%" height="100%" [frameBorder]="0" allowfullscreen></iframe>
</ion-content>